n8n/workflows/Analysis Starter.json
{
  "name": "Analysis Starter",
  "nodes": [
    {
      "parameters": {},
      "id": "5326d3d7-a70d-4b33-9eb1-99955507e64e",
      "name": "Manual Trigger for Testing",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1984,
        64
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "georise-analysis-start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e197a836-42fd-4cf0-888e-3be5019cdc49",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1984,
        -112
      ],
      "webhookId": "georise-analysis-start",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-brand-id",
              "name": "brandId",
              "type": "string",
              "value": "={{ $json.body ? $json.body.brandId : 'bb64f5e7-23e3-48ee-be1d-698201ffad4f' }}"
            },
            {
              "id": "config-brand-name",
              "name": "brandName",
              "type": "string",
              "value": "={{ $json.body ? $json.body.brandName : 'Test Brand' }}"
            },
            {
              "id": "config-topic",
              "name": "topic",
              "type": "string",
              "value": "={{ $json.body ? $json.body.topic : 'AI automation' }}"
            },
            {
              "id": "config-user-id",
              "name": "userId",
              "type": "string",
              "value": "={{ $json.body ? $json.body.userId : '7f078493-f4de-491b-8156-6f7f8f425936' }}"
            },
            {
              "id": "config-run-id",
              "name": "runId",
              "type": "string",
              "value": "={{ 'run_' + Date.now() + '_' + ($json.body ? $json.body.brandId : 'test2') }}"
            },
            {
              "id": "config-timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fcffe87a-8d97-4adc-b69a-38f7902fbc43",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        -112
      ]
    },
    {
      "parameters": {
        "tableId": "analysis_runs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "run_id",
              "fieldValue": "={{ $('Config').item.json.runId }}"
            },
            {
              "fieldId": "brand_id",
              "fieldValue": "={{ $('Config').item.json.brandId }}"
            },
            {
              "fieldId": "brand_name",
              "fieldValue": "={{ $('Config').item.json.brandName }}"
            },
            {
              "fieldId": "topic",
              "fieldValue": "={{ $('Config').item.json.topic }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Config').item.json.userId }}"
            }
          ]
        }
      },
      "id": "c4396ff4-64e3-4eef-b90e-afd054ae58d8",
      "name": "Create Run Record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1104,
        -128
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "6b05507e-15f7-4ca2-bdfa-350bf1d38b15",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1360,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3c26de2-ae2b-423d-a5e6-b731243b0878",
              "leftValue": "={{ $('Config').item.json.userId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8f1b43cc-785e-460a-8f15-df71bfef5e21",
              "leftValue": "={{ $('Config').item.json.brandId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "99b5fb2c-0c89-42b9-89c3-7c9ce437beaf",
              "leftValue": "={{ $('Config').item.json.brandName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "55b30658-d844-4748-82a7-e9d98b258bf0",
              "leftValue": "={{ $('Config').item.json.topic }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        -112
      ],
      "id": "6bf0ab19-e903-47ae-b52a-be0e636d82f0",
      "name": "Validate Inputs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "error",
              "value": "={{\n  {\n    \"message\": \"Missing required parameters. Please provide: brandId, brandName, topic, and userId\",\n    \"code\": \"VALIDATION_ERROR\",\n    \"node\": \"Validate Inputs\",\n    \"timestamp\": $now.toISO(),\n    \"isRetryable\": false\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{\n  {\n    \"executionId\": $execution.id,\n    \"workflowName\": $workflow.name,\n    \"duration\": Math.round(($now.toMillis() - new Date($('Config').item.json.executionStart).getTime()) / 1000)\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        448
      ],
      "id": "79bd2757-8834-4695-915a-26e59de6faa7",
      "name": "Set Validation Error Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "error",
              "value": "={{\n  {\n    \"message\": \"Failed to create analysis run record in database\",\n    \"code\": \"DATABASE_ERROR\",\n    \"node\": \"Create Run Record\",\n    \"timestamp\": $now.toISO(),\n    \"isRetryable\": true,\n    \"details\": $json.error\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{\n  {\n    \"executionId\": $execution.id,\n    \"workflowName\": $workflow.name,\n    \"attemptedData\": $('Config').item.json\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        512
      ],
      "id": "7120301d-a580-450a-9693-711183d64e9c",
      "name": "Set Database Error Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": "={{ true }}",
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "data",
              "value": "={{\n  {\n    runId: $('Config').first().json.runId,\n    message: $('Combine Results').first().json.success \n      ? 'Analysis completed successfully across all engines.' \n      : 'Analysis completed with partial success.',\n    brandId: $('Config').first().json.brandId,\n    brandName: $('Config').first().json.brandName,\n    weightedVisibilityScore: $('Combine Results').item.json.summary.weightedVisibilityScore,\n    processors: $('Combine Results').item.json.summary,\n    results: {\n      perplexity: $('Combine Results').item.json.data.perplexity,\n      chatgpt: $('Combine Results').item.json.data.chatgpt,\n      claude: $('Combine Results').item.json.data.claude\n    },\n    errors: $('Combine Results').item.json.partialSuccess ? $('Combine Results').item.json.errors : null\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{ {\n  executionId: $execution.id,\n  workflowName: $workflow.name,\n  processors: $('Combine Results').item.json.metadata\n} }}",
              "type": "object"
            },
            {
              "id": "d51c0918-abcb-40b9-9a40-63a269af806c",
              "name": "partialSuccess",
              "value": "={{ $('Combine Results').item.json.partialSuccess }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        -432
      ],
      "id": "b4c2bf2d-e4dd-4244-a8ac-370e3ffba90a",
      "name": "Set Success Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "error",
              "value": "={{\n  {\n    message: 'Analysis workflows failed',\n    code: $('Combine Results').item.json.success === false && $('Combine Results').item.json.partialSuccess === false ? 'ALL_PROCESSORS_FAILED' : 'PARTIAL_PROCESSOR_FAILURE',\n    timestamp: $now.toISO(),\n    isRetryable: true,\n    errors: {\n      perplexity: $('Combine Results').item.json.errors.perplexity,\n      chatgpt: $('Combine Results').item.json.errors.chatgpt\n    },\n    summary: $('Combine Results').item.json.summary\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{\n  {\n    executionId: $execution.id,\n    workflowName: $workflow.name,\n    processors: $('Combine Results').item.json.metadata\n  }\n}}",
              "type": "object"
            },
            {
              "id": "1c074f7f-1496-40f6-9517-0264f19d964a",
              "name": "=data",
              "value": "={{\n  {\n    \"executionId\": $execution.id,\n    \"workflowName\": $workflow.name,\n    \"subworkflowMetadata\": $('Combine Results').item.json.metadata\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        192
      ],
      "id": "8aeadae7-f49e-4f25-ba55-57f1960a50d2",
      "name": "Set Subworkflow Error Response"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WWUGrxNJO79VP7Ig",
          "mode": "list",
          "cachedResultUrl": "/workflow/WWUGrxNJO79VP7Ig",
          "cachedResultName": "Analysis Processor Multi-Engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "brand_id": "={{ $json.brand_id }}",
            "topic": "={{ $json.topic }}",
            "brand_name": "={{ $json.brand_name }}",
            "user_id": "={{ $json.user_id }}",
            "ai_engine": "chatgpt"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "brand_name",
              "displayName": "brand_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ai_engine",
              "displayName": "ai_engine",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "4790c19f-4f9f-48b4-8931-50b61b9a15fd",
      "name": "Process ChatGPT",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -624,
        -304
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -368,
        -144
      ],
      "id": "f649e678-299e-43ab-9051-96f00f284353",
      "name": "Merge Processor Results"
    },
    {
      "parameters": {
        "jsCode": "// === 1) Get processor results explicitly from `Merge Processor Results` ===\n// We expect 3 items from that node: [perplexity, chatgpt, claude] in order.\nconst processorItems = $items('Merge Processor Results', 0, 0);\nconst perplexityResult = processorItems[0]?.json || {};\nconst chatgptResult    = processorItems[1]?.json || {};\nconst claudeResult     = processorItems[2]?.json || {};\n\nconst perplexitySuccess = perplexityResult.success === true;\nconst chatgptSuccess    = chatgptResult.success === true;\nconst claudeSuccess     = claudeResult.success === true;\n\nconst allSucceeded   = perplexitySuccess && chatgptSuccess && claudeSuccess;\nconst partialSuccess = (perplexitySuccess || chatgptSuccess || claudeSuccess) && !allSucceeded;\n\n// === 2) Get engine weights from `Collapse Weights` ===\n// That node outputs ONE item with { engines: [...] }\nconst collapseItem = $items('Collapse Weights', 0, 0)[0];\nconst weightRows = Array.isArray(collapseItem?.json?.engines)\n  ? collapseItem.json.engines\n  : [];\n\nconst weightMap = {};\nfor (const row of weightRows) {\n  if (!row.engine_key) continue;\n  const key = String(row.engine_key).toLowerCase(); // 'chatgpt', 'claude', 'perplexity'\n  const w = Number(row.weight);\n  if (!isNaN(w)) {\n    weightMap[key] = w;\n  }\n}\n\n// Fallbacks if Supabase/weights are missing\nconst fallbackWeights = {\n  perplexity: 1,\n  chatgpt:    3,\n  claude:     2,\n};\n\nfunction getWeight(engineKey) {\n  const key = engineKey.toLowerCase();\n  if (weightMap[key] != null) return weightMap[key];\n  return fallbackWeights[key] ?? 1;\n}\n\n// === 3) Collect scores from successful engines & apply weights ===\nconst scores  = [];\nconst weights = [];\n\nif (perplexitySuccess && perplexityResult.data?.visibilityScore != null) {\n  scores.push(perplexityResult.data.visibilityScore);\n  weights.push(getWeight('perplexity'));\n}\nif (chatgptSuccess && chatgptResult.data?.visibilityScore != null) {\n  scores.push(chatgptResult.data.visibilityScore);\n  weights.push(getWeight('chatgpt'));\n}\nif (claudeSuccess && claudeResult.data?.visibilityScore != null) {\n  scores.push(claudeResult.data.visibilityScore);\n  weights.push(getWeight('claude'));\n}\n\n// === 4) Calculate weighted average visibility score ===\nlet weightedScore = null;\nif (scores.length > 0) {\n  const totalWeight = weights.reduce((sum, w) => sum + w, 0);\n  const weightedSum = scores.reduce((sum, score, i) => sum + (score * weights[i]), 0);\n  weightedScore = Math.round((weightedSum / totalWeight) * 100) / 100;\n}\n\n// === 5) Build combined data/errors ===\nconst combinedData = {\n  perplexity: perplexitySuccess ? perplexityResult.data : null,\n  chatgpt:    chatgptSuccess    ? chatgptResult.data    : null,\n  claude:     claudeSuccess     ? claudeResult.data     : null,\n  weightedScore: weightedScore,\n  scoresUsed: scores.length,\n  engineWeightsUsed: weightMap,  // nice to debug\n};\n\nconst combinedErrors = {\n  perplexity: !perplexitySuccess ? perplexityResult.error : null,\n  chatgpt:    !chatgptSuccess    ? chatgptResult.error    : null,\n  claude:     !claudeSuccess     ? claudeResult.error     : null,\n};\n\n// === 6) Final JSON output ===\nreturn {\n  json: {\n    success: allSucceeded,\n    partialSuccess,\n    data: combinedData,\n    errors: combinedErrors,\n    weightedVisibilityScore: weightedScore,\n    summary: {\n      perplexityStatus: perplexitySuccess ? 'completed' : 'failed',\n      chatgptStatus:    chatgptSuccess    ? 'completed' : 'failed',\n      claudeStatus:     claudeSuccess     ? 'completed' : 'failed',\n      totalProcessors: 3,\n      successfulProcessors: scores.length,\n    },\n    metadata: {\n      perplexity: perplexityResult.metadata,\n      chatgpt:    chatgptResult.metadata,\n      claude:     claudeResult.metadata,\n    },\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -144
      ],
      "id": "4c65db29-6484-437e-a352-8d88e8a6ce4f",
      "name": "Combine Results"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "da9aa696-9e82-4ecf-a020-04f85731958e",
              "leftValue": "={{ $('Combine Results').item.json.success === true || $('Combine Results').item.json.partialSuccess === true }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "7fc081d7-cdca-4250-80b4-973bf6918711",
      "name": "Check Processor Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        -160
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WWUGrxNJO79VP7Ig",
          "mode": "list",
          "cachedResultUrl": "/workflow/WWUGrxNJO79VP7Ig",
          "cachedResultName": "Analysis Processor Multi-Engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "brand_id": "={{ $json.brand_id }}",
            "topic": "={{ $json.topic }}",
            "brand_name": "={{ $json.brand_name }}",
            "user_id": "={{ $json.user_id }}",
            "ai_engine": "perplexity"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "brand_name",
              "displayName": "brand_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ai_engine",
              "displayName": "ai_engine",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "fd5accd1-c79a-44a8-8aef-5747e653e719",
      "name": "Process Perplexity",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -624,
        -128
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WWUGrxNJO79VP7Ig",
          "mode": "list",
          "cachedResultUrl": "/workflow/WWUGrxNJO79VP7Ig",
          "cachedResultName": "Analysis Processor Multi-Engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "brand_id": "={{ $json.brand_id }}",
            "topic": "={{ $json.topic }}",
            "brand_name": "={{ $json.brand_name }}",
            "user_id": "={{ $json.user_id }}",
            "ai_engine": "claude"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "brand_name",
              "displayName": "brand_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ai_engine",
              "displayName": "ai_engine",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "63f9a148-a22b-4648-a43f-3c653c84fe76",
      "name": "Process Claude",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -624,
        48
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analysis_runs",
        "filters": {
          "conditions": [
            {
              "keyName": "run_id",
              "condition": "eq",
              "keyValue": "=eq.{{ $('Config').first().json.runId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "visibility_score",
              "fieldValue": "={{ $json.weightedVisibilityScore }}"
            }
          ]
        }
      },
      "id": "f385db27-a6cd-40da-b892-7620cd18db0f",
      "name": "Update Combined Score",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        -144
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ai_engine_weights_latest",
        "returnAll": true,
        "filterType": "string"
      },
      "id": "fe071ac7-a8cd-49af-883e-14de937896d5",
      "name": "Get Engine Weights",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -144,
        -128
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// flatten into one array\nconst engines = items.map(i => i.json);\n\n// return a single item\nreturn [\n  {\n    json: {\n      engines\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -144
      ],
      "id": "cec64b84-00ed-4a53-82bd-a771e396a76a",
      "name": "Collapse Weights"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger for Testing": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Validate Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Run Record": {
      "main": [
        [
          {
            "node": "Process ChatGPT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Perplexity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Database Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Inputs": {
      "main": [
        [
          {
            "node": "Create Run Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Subworkflow Error Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Database Error Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Validation Error Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process ChatGPT": {
      "main": [
        [
          {
            "node": "Merge Processor Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Processor Results": {
      "main": [
        [
          {
            "node": "Get Engine Weights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Processor Success": {
      "main": [
        [
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Subworkflow Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Results": {
      "main": [
        [
          {
            "node": "Update Combined Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Perplexity": {
      "main": [
        [
          {
            "node": "Merge Processor Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Process Claude": {
      "main": [
        [
          {
            "node": "Merge Processor Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Update Combined Score": {
      "main": [
        [
          {
            "node": "Check Processor Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Subworkflow Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Engine Weights": {
      "main": [
        [
          {
            "node": "Collapse Weights",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Database Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collapse Weights": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v0",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "3d64d4a3-098c-41fe-9938-cc024632556a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2347f3b8b1dfdc75f6e4d6c79bbcea28b8c181a984423783d1a0375c872f55c3"
  },
  "id": "4LCjkVi8tY9JNo3G",
  "tags": []
}