n8n/workflows/Analysis Processor Multi-Engine.json
{
  "name": "Analysis Processor Multi-Engine",
  "nodes": [
    {
      "parameters": {},
      "id": "6a31baad-1001-45ad-9c77-b50057478fa0",
      "name": "Manual Trigger for Testing",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        480
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-run-id",
              "name": "runId",
              "type": "string",
              "value": "={{ $json.run_id || 'run_test_' + Date.now() }}"
            },
            {
              "id": "config-brand-id",
              "name": "brandId",
              "type": "string",
              "value": "={{ $json.brand_id || 'bb64f5e7-23e3-48ee-be1d-698201ffad4f' }}"
            },
            {
              "id": "config-brand-name",
              "name": "brandName",
              "type": "string",
              "value": "={{ $json.brand_name || 'Test Brand' }}"
            },
            {
              "id": "config-topic",
              "name": "topic",
              "type": "string",
              "value": "={{ $json.topic || 'AI automation' }}"
            },
            {
              "id": "config-user-id",
              "name": "userId",
              "type": "string",
              "value": "={{ $json.user_id || '7f078493-f4de-491b-8156-6f7f8f425936' }}"
            },
            {
              "id": "config-ai-engine",
              "name": "aiEngine",
              "type": "string",
              "value": "={{ $json.ai_engine || 'claude' }}"
            },
            {
              "id": "config-batch-size",
              "name": "BATCH_SIZE",
              "type": "number",
              "value": 1
            },
            {
              "id": "config-rate-limit",
              "name": "RATE_LIMIT_S",
              "type": "number",
              "value": 2
            },
            {
              "id": "config-total-queries",
              "name": "TOTAL_QUERIES",
              "type": "number",
              "value": 20
            },
            {
              "id": "055a42c4-2f3a-48c9-9641-8d3f3ba6e8da",
              "name": "executionStart",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "4bad60bb-ec77-408a-92cd-2acbe463fe6f",
              "name": "workflowName",
              "value": "={{ $workflow.name }}",
              "type": "string"
            },
            {
              "id": "87320d6b-07a0-4a4a-9210-d29fe90b32fe",
              "name": "executionId",
              "value": "={{ $execution.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4f8ef67f-6897-4e7d-baf4-c6bd335f9eca",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        272
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analysis_runs",
        "filterType": "string",
        "filterString": "=run_id=eq.{{ $('Config').item.json.runId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "56f3487b-b46d-4387-9544-4053bbc2586a",
      "name": "Update Status Processing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        272
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xjyTBcrvj3X5rWEu",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config').item.json;\nconst brandName = config.brandName;\nconst topic = config.topic;\n\n// Define weighted question templates\nconst weightedQuestions = [\n  // Leader questions (10 points each)\n  {\n    template: `Who are the most influential people, brands, and companies in ${topic}?`,\n    type: 'leader',\n    weight: 10\n  },\n  {\n    template: `Which companies, brands, and people are considered leaders in ${topic}?`,\n    type: 'leader',\n    weight: 10\n  },\n  {\n    template: `Who should I follow to get the most valuable insights about ${topic}?`,\n    type: 'leader',\n    weight: 10\n  },\n  \n  // Newcomer question (5 points)\n  {\n    template: `Who are the emerging voices — people, brands, or companies — in ${topic}?`,\n    type: 'newcomer',\n    weight: 5\n  },\n  \n  // Wide-net question (2 points)\n  {\n    template: `Please give me a long, extensive list of people, brands, and companies that frequently appear in discussions or content related to ${topic}.`,\n    type: 'wide_net',\n    weight: 2\n  },\n  \n  // Direct awareness question (1 point)\n  {\n    template: `Does the name '${brandName}' appear anywhere in the broader context of ${topic}? If you cannot find any connection at all, reply only with 'no'. If you can see any relation, please explain it.`,\n    type: 'direct_awareness',\n    weight: 1\n  }\n];\n\n// Convert to output format with metadata\nconst output = weightedQuestions.map((q, index) => ({\n  json: {\n    query: q.template,\n    queryIndex: index + 1,\n    questionType: q.type,\n    questionWeight: q.weight,\n    totalQuestions: weightedQuestions.length,\n    maxPossibleScore: 38 // 3*10 + 1*5 + 1*2 + 1*1\n  }\n}));\n\nreturn output;"
      },
      "id": "04bcbd25-6f65-4197-b808-f810ac9db53c",
      "name": "Generate Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        272
      ]
    },
    {
      "parameters": {
        "batchSize": "={{ $('Config').item.json.BATCH_SIZE }}",
        "options": {}
      },
      "id": "f8eefce3-4c7a-4fe2-82a1-79ec434840ed",
      "name": "Split Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1184,
        272
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "switch-perplexity",
                    "leftValue": "={{ $('Config').item.json.aiEngine }}",
                    "rightValue": "perplexity",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "perplexity"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "switch-chatgpt",
                    "leftValue": "={{ $('Config').item.json.aiEngine }}",
                    "rightValue": "chatgpt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatgpt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "switch-claude",
                    "leftValue": "={{ $('Config').item.json.aiEngine }}",
                    "rightValue": "claude",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "claude"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "ce914ff4-93f7-45c0-85e4-80a3194566f6",
      "name": "Switch Engine",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1408,
        512
      ]
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ $('Split Batches').item.json.query }}"
            }
          ]
        },
        "options": {
          "maxTokens": 1000,
          "temperature": 0.2
        },
        "requestOptions": {}
      },
      "id": "57528919-8ba2-49f4-b26b-ea166fa5db5a",
      "name": "Call Perplexity",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        1632,
        496
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "credentials": {
        "perplexityApi": {
          "id": "GRmG01YXyFK8Xwsh",
          "name": "Perplexity account"
        }
      },
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Handle unsupported AI engine\nconst config = $('Config').item.json;\nconst queryData = $('Split Batches').item.json;\n\nthrow new Error(`Unsupported AI engine: ${config.aiEngine}. Supported engines are: perplexity, chatgpt, claude`);"
      },
      "id": "5fa2c183-b8fa-4b3d-87fb-ea9d67d8e85a",
      "name": "Unsupported Engine Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        1168
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize Perplexity response format\nconst response = $json;\n\nreturn {\n  json: {\n    content: response.choices[0].message.content,\n    citations: response.citations || [],\n    engine: 'perplexity'\n  }\n};"
      },
      "id": "1e51ec3f-df99-4799-8da0-3738a2973d03",
      "name": "Normalize Perplexity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize ChatGPT response format\nconst response = $json;\n\n// LangChain OpenAI node returns array with message object\nconst content = Array.isArray(response) \n  ? response[0].message.content \n  : response.message?.content || response.content;\n\nreturn {\n  json: {\n    content: content,\n    citations: [],\n    engine: 'chatgpt'\n  }\n};"
      },
      "id": "f3abbda0-c999-4763-a451-f1ce1ae1eece",
      "name": "Normalize ChatGPT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize Claude response format\nconst response = $json;\n\nreturn {\n  json: {\n    content: response.content[0].text,\n    citations: [],\n    engine: 'claude'\n  }\n};"
      },
      "id": "6558ab53-7df4-4ef1-9ace-d5dd65ee2e25",
      "name": "Normalize Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        944
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "0ac91a45-df5f-4007-916f-3b580e25d201",
      "name": "Merge Normalized",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2288,
        720
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('Config').item.json.RATE_LIMIT_S }}"
      },
      "id": "531eab71-3922-48fe-9243-586bb8e3e796",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2512,
        720
      ],
      "webhookId": "rate-limit-delay"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config').item.json;\nconst brandName = config.brandName.toLowerCase();\nconst normalizedData = $json;\nconst queryData = $('Split Batches').item.json;\n\nconst response = normalizedData.content;\nconst citations = normalizedData.citations || [];\n\nconst lowerContent = response.toLowerCase();\nconst mentioned = lowerContent.includes(brandName);\n\nlet position = null;\nlet context = null;\n\nif (mentioned) {\n  const firstIndex = lowerContent.indexOf(brandName);\n  \n  // Position scoring based on location in response\n  if (firstIndex < 100) position = 1;\n  else if (firstIndex < 300) position = 2;\n  else if (firstIndex < 600) position = 3;\n  else position = 4;\n  \n  // Extract context around mention\n  const contextStart = Math.max(0, firstIndex - 100);\n  const contextEnd = Math.min(response.length, firstIndex + brandName.length + 100);\n  context = '...' + response.substring(contextStart, contextEnd) + '...';\n}\n\nconst mentionType = mentioned ? (citations.length > 0 ? 'citation' : 'name_only') : null;\n\n// Calculate points earned based on weight\nconst questionWeight = queryData.questionWeight || 1;\nconst pointsEarned = mentioned ? questionWeight : 0;\n\nreturn {\n  json: {\n    brand_id: config.brandId,\n    run_id: config.runId,\n    ai_engine: config.aiEngine,\n    query: queryData.query,\n     query_index: queryData.queryIndex,\n    question_type: queryData.questionType || 'unknown',\n    question_weight: questionWeight,\n    points_earned: pointsEarned,\n    mentioned: mentioned,\n    position: position,\n    mention_type: mentionType,\n    sentiment: 'neutral',\n    url: citations.length > 0 ? citations[0] : null,\n    context: context,\n    full_response: response.substring(0, 1000),\n    occurred_at: new Date().toISOString()\n  }\n};"
      },
      "id": "b7f227bf-c834-4048-8f4a-c18aa7f40f32",
      "name": "Analyze Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        720
      ]
    },
    {
      "parameters": {
        "tableId": "analyses",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "run_id",
              "fieldValue": "={{ $json.run_id }}"
            },
            {
              "fieldId": "brand_id",
              "fieldValue": "={{ $json.brand_id }}"
            },
            {
              "fieldId": "ai_engine",
              "fieldValue": "={{ $json.ai_engine }}"
            },
            {
              "fieldId": "query",
              "fieldValue": "={{ $json.query }}"
            },
            {
              "fieldId": "mentioned",
              "fieldValue": "={{ $json.mentioned }}"
            },
            {
              "fieldId": "position",
              "fieldValue": "={{ $json.position }}"
            },
            {
              "fieldId": "mention_type",
              "fieldValue": "={{ $json.mention_type }}"
            },
            {
              "fieldId": "sentiment",
              "fieldValue": "={{ $json.sentiment }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "context",
              "fieldValue": "={{ $json.context }}"
            },
            {
              "fieldId": "full_response",
              "fieldValue": "={{ $json.full_response }}"
            },
            {
              "fieldId": "occurred_at",
              "fieldValue": "={{ $json.occurred_at }}"
            },
            {
              "fieldId": "question_type",
              "fieldValue": "={{ $json.question_type }}"
            },
            {
              "fieldId": "question_weight",
              "fieldValue": "={{ $json.question_weight }}"
            },
            {
              "fieldId": "points_earned",
              "fieldValue": "={{ $json.points_earned }}"
            }
          ]
        }
      },
      "id": "84c9a2cb-c7ed-4afd-b95e-cc720a2631ca",
      "name": "Save Query Result",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2960,
        720
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "xjyTBcrvj3X5rWEu",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Log failed query\nconst config = $('Config').item.json;\nconst queryData = $('Split Batches').item.json;\nconst error = $json.error || { message: 'API call failed' };\n\nconsole.error(`Query ${queryData.queryIndex} failed for ${config.aiEngine}:`, error.message);\n\n// Return minimal result for failed query\nreturn {\n  json: {\n    brand_id: config.brandId,\n    run_id: config.runId,\n    ai_engine: config.aiEngine,\n    query: queryData.query,\n    query_index: queryData.queryIndex,\n    mentioned: false,\n    position: null,\n    mention_type: null,\n    sentiment: null,\n    url: null,\n    context: null,\n    full_response: `ERROR: ${error.message}`,\n    occurred_at: new Date().toISOString()\n  }\n};"
      },
      "id": "0cede1d6-4714-4297-9f56-cb4134852f30",
      "name": "Handle API Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        1184
      ]
    },
    {
      "parameters": {},
      "id": "5ac48f7e-94ba-4bd9-a316-c417b35d7cd7",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2288,
        928
      ]
    },
    {
      "parameters": {},
      "id": "292a9e71-84a1-4851-a62b-b4b1bffcb216",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3648,
        704
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "analyses",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=run_id=eq.{{ $('Config').item.json.runId }}&ai_engine=eq.{{ $('Config').item.json.aiEngine }}"
      },
      "id": "8c34fa00-1af9-4d42-9c69-ac504c4a0c68",
      "name": "Get Analyses",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1408,
        272
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xjyTBcrvj3X5rWEu",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const analyses = $input.all().map(item => item.json);\nconst totalQueries = analyses.length;\n\n// Sum up points earned from weighted questions\nconst totalPointsEarned = analyses.reduce((sum, a) => sum + (a.points_earned || 0), 0);\nconst maxPossibleScore = 38; // 3*10 + 1*5 + 1*2 + 1*1\n\n// Calculate visibility score as percentage (0-100)\nconst visibilityScore = maxPossibleScore > 0 \n  ? Math.round((totalPointsEarned / maxPossibleScore) * 100 * 100) / 100 \n  : 0;\n\n// Legacy metrics for backward compatibility\nconst totalMentions = analyses.filter(a => a.mentioned === true).length;\nconst mentionRate = totalQueries > 0 \n  ? Math.round((totalMentions / totalQueries) * 100 * 100) / 100 \n  : 0;\n\n// Other metrics\nconst topPositionCount = analyses.filter(a => a.position === 1).length;\nconst citationCount = analyses.filter(a => a.mention_type === 'citation').length;\nconst positionsArray = analyses.filter(a => a.position !== null).map(a => a.position);\nconst avgPosition = positionsArray.length > 0 \n  ? Math.round((positionsArray.reduce((sum, p) => sum + p, 0) / positionsArray.length) * 10) / 10 \n  : null;\n\nreturn {\n  json: {\n    total_queries: totalQueries,\n    total_mentions: totalMentions,\n    mention_rate: mentionRate,\n    visibility_score: visibilityScore,\n    total_points_earned: totalPointsEarned,\n    max_possible_score: maxPossibleScore,\n    top_position_count: topPositionCount,\n    citation_count: citationCount,\n    avg_position: avgPosition\n  }\n};"
      },
      "id": "3864fec4-e93c-4be5-bf57-0c3d7783ad65",
      "name": "Calculate Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        272
      ]
    },
    {
      "parameters": {
        "content": "## Always Return, Never Throw\n**because it is a subworkflow\n\n## Multi-Engine Support\nThis workflow supports: perplexity, chatgpt, claude\nPass ai_engine parameter when calling\n\n## Todo\n**Enhance the flow to support analysis using:\n\nChatGPT\nClaude\nGemini\nPerplexity\nDeepSeek\nGrok\nMistral\nMeta AI",
        "height": 488,
        "width": 740
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -288
      ],
      "typeVersion": 1,
      "id": "06ac1017-4a5d-4c35-b6d5-010823f15781",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3c26de2-ae2b-423d-a5e6-b731243b0878",
              "leftValue": "={{ $('Config').item.json.runId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8f1b43cc-785e-460a-8f15-df71bfef5e21",
              "leftValue": "={{ $('Config').item.json.brandId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "99b5fb2c-0c89-42b9-89c3-7c9ce437beaf",
              "leftValue": "={{ $('Config').item.json.brandName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "55b30658-d844-4748-82a7-e9d98b258bf0",
              "leftValue": "={{ $('Config').item.json.topic }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ai-engine-validation",
              "leftValue": "={{ $('Config').item.json.aiEngine }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        272
      ],
      "id": "6ac89d8e-d652-4822-a673-89e77c3c7be5",
      "name": "Validate Inputs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "error",
              "value": "={{\n  {\n    \"message\": \"Missing required parameters. Please provide: runId, brandId, brandName, topic, and ai_engine\",\n    \"code\": \"VALIDATION_ERROR\",\n    \"node\": \"Validate Inputs\",\n    \"timestamp\": $now.toISO(),\n    \"isRetryable\": false\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{\n  {\n    \"executionId\": $('Config').item.json.executionId,\n    \"workflowName\": $('Config').item.json.workflowName\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3184,
        432
      ],
      "id": "1ed38842-fb6f-46a7-871c-e31f852edde1",
      "name": "Set Input Validation Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "error",
              "value": "={{\n  {\n    \"message\": `Database operation failed: ${$json.error?.message || 'Unknown database error'}`,\n    \"code\": \"DATABASE_ERROR\",\n    \"node\": \"Database Operation\",\n    \"timestamp\": $now.toISO(),\n    \"isRetryable\": true,\n    \"details\": $json.error\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{\n  {\n    \"executionId\": $execution.id,\n    \"workflowName\": $workflow.name,\n    \"runId\": $('Config').first().json.runId\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3184,
        64
      ],
      "id": "ffb66220-62c3-48b6-922f-7061ccf2a29d",
      "name": "Set Database Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "data",
              "value": "={{\n  {\n    \"runId\": $('Config').first().json.runId,\n    \"brandId\": $('Config').first().json.brandId,\n    \"brandName\": $('Config').first().json.brandName,\n    \"aiEngine\": $('Config').first().json.aiEngine,\n    \"totalQueries\": $('Calculate Scores').first().json.total_queries,\n    \"totalMentions\": $('Calculate Scores').first().json.total_mentions,\n    \"mentionRate\": $('Calculate Scores').first().json.mention_rate,\n    \"visibilityScore\": $('Calculate Scores').first().json.visibility_score,\n    \"topPositionCount\": $('Calculate Scores').first().json.top_position_count,\n    \"citationCount\": $('Calculate Scores').first().json.citation_count,\n    \"avgPosition\": $('Calculate Scores').first().json.avg_position,\n    \"status\": \"completed\",\n    \"completedAt\": $now.toISO()\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{\n  {\n    \"executionId\": $('Config').first().json.executionId,\n    \"workflowName\": $('Config').first().json.workflowName,\n    \"duration\": Math.round(($now.toMillis() - new Date($('Config').first().json.executionStart).getTime()) / 1000)\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3184,
        256
      ],
      "id": "dff36eb9-36d1-4d1e-a7e6-b7190243dff1",
      "name": "Set Success Response"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3648,
        272
      ],
      "id": "5dae250a-7d0c-4221-9c57-52b80be63ad7",
      "name": "Return Response"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1-chat-latest",
          "mode": "list",
          "cachedResultName": "GPT-5.1-CHAT-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1632,
        736
      ],
      "id": "2b0ad06e-73f4-477a-bfc9-994d1a7ef235",
      "name": "Call ChatGPT1",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "openAiApi": {
          "id": "8uLYmMDTcctwQOuV",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1632,
        960
      ],
      "id": "0472cbf3-71e7-49d2-974c-99617c29b2d5",
      "name": "Claude",
      "retryOnFail": true,
      "maxTries": 2,
      "alwaysOutputData": true,
      "credentials": {
        "anthropicApi": {
          "id": "uRyb8ai2KBKphGuv",
          "name": "Anthropic account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "run_id"
            },
            {
              "name": "brand_id"
            },
            {
              "name": "brand_name"
            },
            {
              "name": "topic"
            },
            {
              "name": "user_id"
            },
            {
              "name": "ai_engine"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        272
      ],
      "id": "886ed3ff-c456-4c24-9a4c-6dc338f2030d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4FjZbeoyJRGgoymL",
          "mode": "list",
          "cachedResultUrl": "/workflow/4FjZbeoyJRGgoymL",
          "cachedResultName": "Analysis Aggregator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "runId": "={{ $('Config').first().json.runId }}",
            "brandId": "={{ $('Config').first().json.brandId }}",
            "brandName": "={{ $('Config').first().json.brandName }}",
            "topic": "={{ $('Config').first().json.topic }}",
            "userId": "={{ $('Config').first().json.userId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "brandId",
              "displayName": "brandId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "brandName",
              "displayName": "brandName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3296,
        688
      ],
      "id": "2e1df1cd-3059-43b3-a06f-2dcdede047e4",
      "name": "Call 'Analysis Aggregator'"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger for Testing": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Validate Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Processing": {
      "main": [
        [
          {
            "node": "Generate Queries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Database Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Queries": {
      "main": [
        [
          {
            "node": "Split Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Batches": {
      "main": [
        [
          {
            "node": "Get Analyses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Engine": {
      "main": [
        [
          {
            "node": "Call Perplexity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call ChatGPT1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Engine Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Perplexity": {
      "main": [
        [
          {
            "node": "Normalize Perplexity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Perplexity": {
      "main": [
        [
          {
            "node": "Merge Normalized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize ChatGPT": {
      "main": [
        [
          {
            "node": "Merge Normalized",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalize Claude": {
      "main": [
        [
          {
            "node": "Merge Normalized",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Normalized": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Analyze Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Response": {
      "main": [
        [
          {
            "node": "Save Query Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Query Result": {
      "main": [
        [
          {
            "node": "Call 'Analysis Aggregator'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Database Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle API Error": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Save Query Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Split Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Analyses": {
      "main": [
        [
          {
            "node": "Calculate Scores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Database Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Scores": {
      "main": [
        [
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Inputs": {
      "main": [
        [
          {
            "node": "Update Status Processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Input Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Validation Error": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Database Error": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ChatGPT1": {
      "main": [
        [
          {
            "node": "Normalize ChatGPT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude": {
      "main": [
        [
          {
            "node": "Normalize Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported Engine Error": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Analysis Aggregator'": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0cf4ee16-fc52-48fb-ba5f-3db001e5057a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "02bba7aac379f6e7cacf7ad50786592b16e7ca5dbfbf71b3b9646d979cc00f6e"
  },
  "id": "aseVZXcdcstFDT25",
  "tags": []
}