n8n/workflows/Analysis Processor Multi-Engine.json
{
  "name": "Analysis Processor Multi-Engine",
  "nodes": [
    {
      "parameters": {},
      "id": "ec758555-3c2a-4ac2-814f-4cb4477574ab",
      "name": "Manual Trigger for Testing",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2240,
        640
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-run-id",
              "name": "runId",
              "type": "string",
              "value": "={{ $json.run_id || 'run_test_' + Date.now() }}"
            },
            {
              "id": "config-brand-id",
              "name": "brandId",
              "type": "string",
              "value": "={{ $json.brand_id || 'bb64f5e7-23e3-48ee-be1d-698201ffad4f' }}"
            },
            {
              "id": "config-brand-name",
              "name": "brandName",
              "type": "string",
              "value": "={{ $json.brand_name || 'Test Brand' }}"
            },
            {
              "id": "config-topic",
              "name": "topic",
              "type": "string",
              "value": "={{ $json.topic || 'AI automation' }}"
            },
            {
              "id": "config-user-id",
              "name": "userId",
              "type": "string",
              "value": "={{ $json.user_id || '7f078493-f4de-491b-8156-6f7f8f425936' }}"
            },
            {
              "id": "config-ai-engine",
              "name": "aiEngine",
              "type": "string",
              "value": "={{ $json.ai_engine || 'claude' }}"
            },
            {
              "id": "config-batch-size",
              "name": "BATCH_SIZE",
              "type": "number",
              "value": 1
            },
            {
              "id": "config-rate-limit",
              "name": "RATE_LIMIT_S",
              "type": "number",
              "value": 2
            },
            {
              "id": "config-total-queries",
              "name": "TOTAL_QUERIES",
              "type": "number",
              "value": 20
            },
            {
              "id": "055a42c4-2f3a-48c9-9641-8d3f3ba6e8da",
              "name": "executionStart",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "4bad60bb-ec77-408a-92cd-2acbe463fe6f",
              "name": "workflowName",
              "value": "={{ $workflow.name }}",
              "type": "string"
            },
            {
              "id": "87320d6b-07a0-4a4a-9210-d29fe90b32fe",
              "name": "executionId",
              "value": "={{ $execution.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6abc2cfe-72b6-4435-b877-dbabedabb60c",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2016,
        432
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analysis_runs",
        "filterType": "string",
        "filterString": "=run_id=eq.{{ $('Config').item.json.runId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "f2827e8d-3833-492a-90aa-4316f8fb871c",
      "name": "Update Status Processing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1568,
        432
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config').item.json;\nconst brandName = config.brandName;\nconst topic = config.topic;\n\n// Define weighted question templates\nconst weightedQuestions = [\n  // Leader questions (10 points each)\n  {\n    template: `Who are the most influential people, brands, and companies in ${topic}?`,\n    type: 'leader',\n    weight: 10\n  },\n  {\n    template: `Which companies, brands, and people are considered leaders in ${topic}?`,\n    type: 'leader',\n    weight: 10\n  },\n  {\n    template: `Who should I follow to get the most valuable insights about ${topic}?`,\n    type: 'leader',\n    weight: 10\n  },\n  \n  // Newcomer question (5 points)\n  {\n    template: `Who are the emerging voices — people, brands, or companies — in ${topic}?`,\n    type: 'newcomer',\n    weight: 5\n  },\n  \n  // Wide-net question (2 points)\n  {\n    template: `Please give me a long, extensive list of people, brands, and companies that frequently appear in discussions or content related to ${topic}.`,\n    type: 'wide_net',\n    weight: 2\n  },\n  \n  // Direct awareness question (1 point)\n  {\n    template: `Does the name '${brandName}' appear anywhere in the broader context of ${topic}? If you cannot find any connection at all, reply only with 'no'. If you can see any relation, please explain it.`,\n    type: 'direct_awareness',\n    weight: 1\n  }\n];\n\n// Convert to output format with metadata\nconst output = weightedQuestions.map((q, index) => ({\n  json: {\n    query: q.template,\n    queryIndex: index + 1,\n    questionType: q.type,\n    questionWeight: q.weight,\n    totalQuestions: weightedQuestions.length,\n    maxPossibleScore: 38\n  }\n}));\n\nreturn output;"
      },
      "id": "dcdb6dc1-10af-4bca-876a-42213459e015",
      "name": "Generate Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        432
      ]
    },
    {
      "parameters": {
        "batchSize": "={{ $('Config').item.json.BATCH_SIZE }}",
        "options": {}
      },
      "id": "2f5c3726-da72-4907-a20b-e5ac38645c10",
      "name": "Split Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1136,
        432
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "switch-perplexity",
                    "leftValue": "={{ $('Config').item.json.aiEngine }}",
                    "rightValue": "perplexity",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "perplexity"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "switch-chatgpt",
                    "leftValue": "={{ $('Config').item.json.aiEngine }}",
                    "rightValue": "chatgpt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatgpt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "switch-claude",
                    "leftValue": "={{ $('Config').item.json.aiEngine }}",
                    "rightValue": "claude",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "claude"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "c27bcf5e-0298-4750-bd0d-3e07003f2b5e",
      "name": "Switch Engine",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -912,
        672
      ]
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ $('Split Batches').item.json.query }}"
            }
          ]
        },
        "options": {
          "maxTokens": 1000,
          "temperature": 0.2
        },
        "requestOptions": {}
      },
      "id": "bb4d5f38-328b-472c-9eb4-739d4a209a4f",
      "name": "Call Perplexity",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        -688,
        656
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "credentials": {
        "perplexityApi": {
          "id": "Got1FXNW3Tw0Ynhd",
          "name": "Perplexity account"
        }
      },
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Handle unsupported AI engine\nconst config = $('Config').item.json;\nconst queryData = $('Split Batches').item.json;\n\nthrow new Error(`Unsupported AI engine: ${config.aiEngine}. Supported engines are: perplexity, chatgpt, claude`);"
      },
      "id": "4031a7a3-1626-4cfb-ae36-ea07b2667633",
      "name": "Unsupported Engine Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        1328
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize Perplexity response format\nconst response = $json;\n\nreturn {\n  json: {\n    content: response.choices[0].message.content,\n    citations: response.citations || [],\n    engine: 'perplexity'\n  }\n};"
      },
      "id": "1dac6fb5-186f-455d-9062-e9d6cf01f546",
      "name": "Normalize Perplexity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize ChatGPT response format\nconst response = $json;\n\n// LangChain OpenAI node returns array with message object\nconst content = Array.isArray(response) \n  ? response[0].message.content \n  : response.message?.content || response.content;\n\nreturn {\n  json: {\n    content: content,\n    citations: [],\n    engine: 'chatgpt'\n  }\n};"
      },
      "id": "9a63480e-b5b3-4abd-96c4-597e8fb200ee",
      "name": "Normalize ChatGPT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        880
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize Claude response format\nconst response = $json;\n\nreturn {\n  json: {\n    content: response.content[0].text,\n    citations: [],\n    engine: 'claude'\n  }\n};"
      },
      "id": "8cf07a8d-9fe5-4f18-bfe9-50efdf85851f",
      "name": "Normalize Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        1104
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "bfb32292-c7b0-4c48-b3c1-dbfa7b0f66d0",
      "name": "Merge Normalized",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -32,
        880
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('Config').item.json.RATE_LIMIT_S }}"
      },
      "id": "55686050-45a2-45f5-a484-79a9af864808",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        192,
        880
      ],
      "webhookId": "rate-limit-delay"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config').item.json;\nconst brandName = config.brandName.toLowerCase();\nconst normalizedData = $json;\nconst queryData = $('Split Batches').item.json;\n\nconst response = normalizedData.content;\nconst citations = normalizedData.citations || [];\n\nconst lowerContent = response.toLowerCase();\nconst mentioned = lowerContent.includes(brandName);\n\nlet position = null;\nlet context = null;\n\nif (mentioned) {\n  const firstIndex = lowerContent.indexOf(brandName);\n  \n  // Position scoring based on location in response\n  if (firstIndex < 100) position = 1;\n  else if (firstIndex < 300) position = 2;\n  else if (firstIndex < 600) position = 3;\n  else position = 4;\n  \n  // Extract context around mention\n  const contextStart = Math.max(0, firstIndex - 100);\n  const contextEnd = Math.min(response.length, firstIndex + brandName.length + 100);\n  context = '...' + response.substring(contextStart, contextEnd) + '...';\n}\n\nconst mentionType = mentioned ? (citations.length > 0 ? 'citation' : 'name_only') : null;\n\n// Calculate points earned based on weight\nconst questionWeight = queryData.questionWeight || 1;\nconst pointsEarned = mentioned ? questionWeight : 0;\n\nreturn {\n  json: {\n    brand_id: config.brandId,\n    run_id: config.runId,\n    ai_engine: config.aiEngine,\n    query: queryData.query,\n    query_index: queryData.queryIndex,\n    question_type: queryData.questionType || 'unknown',\n    question_weight: questionWeight,\n    points_earned: pointsEarned,\n    mentioned: mentioned,\n    position: position,\n    mention_type: mentionType,\n    sentiment: 'neutral',\n    url: citations.length > 0 ? citations[0] : null,\n    context: context,\n    full_response: response.substring(0, 1000),\n    occurred_at: new Date().toISOString()\n  }\n};"
      },
      "id": "056680f8-4eb2-40ff-8167-f8ec501aa162",
      "name": "Analyze Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        880
      ]
    },
    {
      "parameters": {
        "tableId": "analyses",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "run_id",
              "fieldValue": "={{ $json.run_id }}"
            },
            {
              "fieldId": "brand_id",
              "fieldValue": "={{ $json.brand_id }}"
            },
            {
              "fieldId": "ai_engine",
              "fieldValue": "={{ $json.ai_engine }}"
            },
            {
              "fieldId": "query",
              "fieldValue": "={{ $json.query }}"
            },
            {
              "fieldId": "question_type",
              "fieldValue": "={{ $json.question_type }}"
            },
            {
              "fieldId": "question_weight",
              "fieldValue": "={{ $json.question_weight }}"
            },
            {
              "fieldId": "points_earned",
              "fieldValue": "={{ $json.points_earned }}"
            },
            {
              "fieldId": "mentioned",
              "fieldValue": "={{ $json.mentioned }}"
            },
            {
              "fieldId": "position",
              "fieldValue": "={{ $json.position }}"
            },
            {
              "fieldId": "mention_type",
              "fieldValue": "={{ $json.mention_type }}"
            },
            {
              "fieldId": "sentiment",
              "fieldValue": "={{ $json.sentiment }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "context",
              "fieldValue": "={{ $json.context }}"
            },
            {
              "fieldId": "full_response",
              "fieldValue": "={{ $json.full_response }}"
            },
            {
              "fieldId": "occurred_at",
              "fieldValue": "={{ $json.occurred_at }}"
            }
          ]
        }
      },
      "id": "84dcaf77-5459-4ca2-b1b9-b1316884c5a6",
      "name": "Save Query Result",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        880
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Log failed query\nconst config = $('Config').item.json;\nconst queryData = $('Split Batches').item.json;\nconst error = $json.error || { message: 'API call failed' };\n\nconsole.error(`Query ${queryData.queryIndex} failed for ${config.aiEngine}:`, error.message);\n\n// Return minimal result for failed query\nreturn {\n  json: {\n    brand_id: config.brandId,\n    run_id: config.runId,\n    ai_engine: config.aiEngine,\n    query: queryData.query,\n    query_index: queryData.queryIndex,\n    mentioned: false,\n    position: null,\n    mention_type: null,\n    sentiment: null,\n    url: null,\n    context: null,\n    full_response: `ERROR: ${error.message}`,\n    occurred_at: new Date().toISOString()\n  }\n};"
      },
      "id": "2826fdb2-545f-452d-9cc0-5b979a9124a6",
      "name": "Handle API Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        1344
      ]
    },
    {
      "parameters": {},
      "id": "89ddba3e-3e15-475c-a8df-af11e16e6b65",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -32,
        1088
      ]
    },
    {
      "parameters": {},
      "id": "20a4ebcb-54d7-4d22-9556-ad11e3e37142",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        864,
        880
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "analyses",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=run_id=eq.{{ $('Config').item.json.runId }}&ai_engine=eq.{{ $('Config').item.json.aiEngine }}"
      },
      "id": "d6ab9e19-191a-4c1d-b5cb-37f62bc4168d",
      "name": "Get Analyses",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -912,
        432
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const analyses = $input.all().map(item => item.json);\nconst totalQueries = analyses.length;\nconst totalMentions = analyses.filter(a => a.mentioned === true).length;\nconst mentionRate = totalQueries > 0 ? Math.round((totalMentions / totalQueries) * 100 * 100) / 100 : 0;\nconst topPositionCount = analyses.filter(a => a.position === 1).length;\nconst citationCount = analyses.filter(a => a.mention_type === 'citation').length;\nconst positionsArray = analyses.filter(a => a.position !== null).map(a => a.position);\nconst avgPosition = positionsArray.length > 0 ? Math.round((positionsArray.reduce((sum, p) => sum + p, 0) / positionsArray.length) * 10) / 10 : null;\n\nreturn {\n  json: {\n    total_queries: totalQueries,\n    total_mentions: totalMentions,\n    mention_rate: mentionRate,\n    visibility_score: mentionRate,\n    top_position_count: topPositionCount,\n    citation_count: citationCount,\n    avg_position: avgPosition\n  }\n};"
      },
      "id": "06f775af-33d6-47ef-9c9d-406de5c3f14b",
      "name": "Calculate Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        432
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analysis_runs",
        "filterType": "string",
        "filterString": "=run_id=eq.{{ $('Config').first().json.runId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "progress",
              "fieldValue": "100"
            },
            {
              "fieldId": "total_queries",
              "fieldValue": "={{ $json.total_queries }}"
            },
            {
              "fieldId": "queries_completed",
              "fieldValue": "={{ $json.total_queries }}"
            },
            {
              "fieldId": "total_mentions",
              "fieldValue": "={{ $json.total_mentions }}"
            },
            {
              "fieldId": "mention_rate",
              "fieldValue": "={{ $json.mention_rate }}"
            },
            {
              "fieldId": "visibility_score",
              "fieldValue": "={{ $json.visibility_score }}"
            },
            {
              "fieldId": "top_position_count",
              "fieldValue": "={{ $json.top_position_count }}"
            },
            {
              "fieldId": "citation_count",
              "fieldValue": "={{ $json.citation_count }}"
            },
            {
              "fieldId": "avg_position",
              "fieldValue": "={{ $json.avg_position }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "6f93119b-eee6-4334-a7f7-eca1a462992f",
      "name": "Update Status Completed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        432
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Always Return, Never Throw\n**because it is a subworkflow\n\n## Multi-Engine Support\nThis workflow supports: perplexity, chatgpt, claude\nPass ai_engine parameter when calling",
        "height": 280,
        "width": 740
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2272,
        -32
      ],
      "typeVersion": 1,
      "id": "b7e2c3b2-04ac-47d2-a820-e520c5e489e7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3c26de2-ae2b-423d-a5e6-b731243b0878",
              "leftValue": "={{ $('Config').item.json.runId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8f1b43cc-785e-460a-8f15-df71bfef5e21",
              "leftValue": "={{ $('Config').item.json.brandId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "99b5fb2c-0c89-42b9-89c3-7c9ce437beaf",
              "leftValue": "={{ $('Config').item.json.brandName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "55b30658-d844-4748-82a7-e9d98b258bf0",
              "leftValue": "={{ $('Config').item.json.topic }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ai-engine-validation",
              "leftValue": "={{ $('Config').item.json.aiEngine }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1792,
        432
      ],
      "id": "9c7125a3-0f08-4c6c-81cc-090c656dba61",
      "name": "Validate Inputs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "error",
              "value": "={{\n  {\n    \"message\": \"Missing required parameters. Please provide: runId, brandId, brandName, topic, and ai_engine\",\n    \"code\": \"VALIDATION_ERROR\",\n    \"node\": \"Validate Inputs\",\n    \"timestamp\": $now.toISO(),\n    \"isRetryable\": false\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{\n  {\n    \"executionId\": $('Config').item.json.executionId,\n    \"workflowName\": $('Config').item.json.workflowName\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        592
      ],
      "id": "21cc3993-b2c3-4a70-8c3f-335918240ef1",
      "name": "Set Input Validation Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "error",
              "value": "={{\n  {\n    \"message\": `Database operation failed: ${$json.error?.message || 'Unknown database error'}`,\n    \"code\": \"DATABASE_ERROR\",\n    \"node\": \"Database Operation\",\n    \"timestamp\": $now.toISO(),\n    \"isRetryable\": true,\n    \"details\": $json.error\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{\n  {\n    \"executionId\": $execution.id,\n    \"workflowName\": $workflow.name,\n    \"runId\": $('Config').first().json.runId\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        224
      ],
      "id": "c2f8ed74-08e0-4d58-ae97-d3531d3e65bb",
      "name": "Set Database Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "data",
              "value": "={{\n  {\n    \"runId\": $('Config').first().json.runId,\n    \"brandId\": $('Config').first().json.brandId,\n    \"brandName\": $('Config').first().json.brandName,\n    \"aiEngine\": $('Config').first().json.aiEngine,\n    \"totalQueries\": $('Calculate Scores').first().json.total_queries,\n    \"totalMentions\": $('Calculate Scores').first().json.total_mentions,\n    \"mentionRate\": $('Calculate Scores').first().json.mention_rate,\n    \"visibilityScore\": $('Calculate Scores').first().json.visibility_score,\n    \"topPositionCount\": $('Calculate Scores').first().json.top_position_count,\n    \"citationCount\": $('Calculate Scores').first().json.citation_count,\n    \"avgPosition\": $('Calculate Scores').first().json.avg_position,\n    \"status\": \"completed\",\n    \"completedAt\": $now.toISO()\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{\n  {\n    \"executionId\": $('Config').first().json.executionId,\n    \"workflowName\": $('Config').first().json.workflowName,\n    \"duration\": Math.round(($now.toMillis() - new Date($('Config').first().json.executionStart).getTime()) / 1000)\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        416
      ],
      "id": "0a4fb805-d311-49a5-8e83-f4429d432d6d",
      "name": "Set Success Response"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1312,
        416
      ],
      "id": "3e864563-2293-408f-9b42-706a8664e053",
      "name": "Return Response"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1-chat-latest",
          "mode": "list",
          "cachedResultName": "GPT-5.1-CHAT-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -688,
        896
      ],
      "id": "3d6cec96-7ced-4574-aef6-05b8b75ef66a",
      "name": "Call ChatGPT1",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "openAiApi": {
          "id": "6RW2tBbfXUKOkPjK",
          "name": "OpenAi GEORISE"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -688,
        1120
      ],
      "id": "4506ed5b-bb95-4c7b-832c-fcf944ff9885",
      "name": "Claude",
      "retryOnFail": true,
      "maxTries": 2,
      "alwaysOutputData": true,
      "credentials": {
        "anthropicApi": {
          "id": "O4up7R15Vs2ao1vF",
          "name": "Anthropic account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "run_id"
            },
            {
              "name": "brand_id"
            },
            {
              "name": "brand_name"
            },
            {
              "name": "topic"
            },
            {
              "name": "user_id"
            },
            {
              "name": "ai_engine"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2240,
        432
      ],
      "id": "f27e6d3d-e77a-4ffd-a614-56d0b790a3f3",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger for Testing": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Validate Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Processing": {
      "main": [
        [
          {
            "node": "Generate Queries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Database Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Queries": {
      "main": [
        [
          {
            "node": "Split Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Batches": {
      "main": [
        [
          {
            "node": "Get Analyses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Engine": {
      "main": [
        [
          {
            "node": "Call Perplexity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call ChatGPT1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Engine Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Perplexity": {
      "main": [
        [
          {
            "node": "Normalize Perplexity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Perplexity": {
      "main": [
        [
          {
            "node": "Merge Normalized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize ChatGPT": {
      "main": [
        [
          {
            "node": "Merge Normalized",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalize Claude": {
      "main": [
        [
          {
            "node": "Merge Normalized",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Normalized": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Analyze Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Response": {
      "main": [
        [
          {
            "node": "Save Query Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Query Result": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Database Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle API Error": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Save Query Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Split Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Analyses": {
      "main": [
        [
          {
            "node": "Calculate Scores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Database Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Scores": {
      "main": [
        [
          {
            "node": "Update Status Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Completed": {
      "main": [
        [
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Database Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Inputs": {
      "main": [
        [
          {
            "node": "Update Status Processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Input Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Validation Error": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Database Error": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ChatGPT1": {
      "main": [
        [
          {
            "node": "Normalize ChatGPT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude": {
      "main": [
        [
          {
            "node": "Normalize Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported Engine Error": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd32be9c-895c-4b80-a1f5-224dd2e6c5e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2347f3b8b1dfdc75f6e4d6c79bbcea28b8c181a984423783d1a0375c872f55c3"
  },
  "id": "WWUGrxNJO79VP7Ig",
  "tags": []
}