n8n/workflows/Analysis Core.json
{
  "name": "Analysis Core",
  "nodes": [
    {
      "parameters": {},
      "id": "f43ab82d-c8ff-456d-8dea-2eab937052ff",
      "name": "Manual Trigger for Testing",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        576
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-brand-id",
              "name": "brandId",
              "type": "string",
              "value": "={{ $json.brandId || 'bb64f5e7-23e3-48ee-be1d-698201ffad4f' }}"
            },
            {
              "id": "config-brand-name",
              "name": "brandName",
              "type": "string",
              "value": "={{ $json.brandName || 'Test Brand' }}"
            },
            {
              "id": "config-topic",
              "name": "topic",
              "type": "string",
              "value": "={{ $json.topic || 'AI automation' }}"
            },
            {
              "id": "config-user-id",
              "name": "userId",
              "type": "string",
              "value": "={{ $json.userId || '7f078493-f4de-491b-8156-6f7f8f425936' }}"
            },
            {
              "id": "config-run-id",
              "name": "runId",
              "type": "string",
              "value": "={{ $json.runId || ('run_' + Date.now() + '_' + ($json.brandId || 'test2')) }}"
            },
            {
              "id": "config-timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a28a85c2-5c40-45eb-a1ad-1674fadc7398",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        400
      ]
    },
    {
      "parameters": {
        "tableId": "analysis_runs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "run_id",
              "fieldValue": "={{ $('Config').item.json.runId }}"
            },
            {
              "fieldId": "brand_id",
              "fieldValue": "={{ $('Config').item.json.brandId }}"
            },
            {
              "fieldId": "brand_name",
              "fieldValue": "={{ $('Config').item.json.brandName }}"
            },
            {
              "fieldId": "topic",
              "fieldValue": "={{ $('Config').item.json.topic }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Config').item.json.userId }}"
            }
          ]
        }
      },
      "id": "df5749d9-cc3f-44fb-afb9-43f0dcb94782",
      "name": "Create Run Record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -496,
        384
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xjyTBcrvj3X5rWEu",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3c26de2-ae2b-423d-a5e6-b731243b0878",
              "leftValue": "={{ $('Config').item.json.userId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8f1b43cc-785e-460a-8f15-df71bfef5e21",
              "leftValue": "={{ $('Config').item.json.brandId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "99b5fb2c-0c89-42b9-89c3-7c9ce437beaf",
              "leftValue": "={{ $('Config').item.json.brandName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "55b30658-d844-4748-82a7-e9d98b258bf0",
              "leftValue": "={{ $('Config').item.json.topic }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -768,
        400
      ],
      "id": "d692ebb7-59a4-4e40-9e2c-7f2e431292c1",
      "name": "Validate Inputs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "error",
              "value": "={{\n  {\n    \"message\": \"Missing required parameters. Please provide: brandId, brandName, topic, and userId\",\n    \"code\": \"VALIDATION_ERROR\",\n    \"node\": \"Validate Inputs\",\n    \"timestamp\": $now.toISO(),\n    \"isRetryable\": false\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{\n  {\n    \"executionId\": $execution.id,\n    \"workflowName\": $workflow.name,\n    \"duration\": Math.round(($now.toMillis() - new Date($('Config').item.json.executionStart).getTime()) / 1000)\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        960
      ],
      "id": "e008fc41-d6b8-4efe-93a3-06a8fcc7567a",
      "name": "Set Validation Error Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "error",
              "value": "={{\n  {\n    \"message\": \"Failed to create analysis run record in database\",\n    \"code\": \"DATABASE_ERROR\",\n    \"node\": \"Create Run Record\",\n    \"timestamp\": $now.toISO(),\n    \"isRetryable\": true,\n    \"details\": $json.error\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{\n  {\n    \"executionId\": $execution.id,\n    \"workflowName\": $workflow.name,\n    \"attemptedData\": $('Config').item.json\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        720
      ],
      "id": "6544e410-230e-4d22-b513-9f8146c7cd80",
      "name": "Set Database Error Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": "={{ true }}",
              "type": "boolean"
            },
            {
              "id": "d8735745-666f-417c-8c97-8c045678d1bb",
              "name": "Analysis started for 3 engines. Results will be aggregated asynchronously.",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        560
      ],
      "id": "9adac8aa-dba6-4e4a-8006-fbaceda781a1",
      "name": "Set Success Response"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aseVZXcdcstFDT25",
          "mode": "list",
          "cachedResultUrl": "/workflow/aseVZXcdcstFDT25",
          "cachedResultName": "Analysis Processor Multi-Engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "brand_id": "={{ $json.brand_id }}",
            "topic": "={{ $json.topic }}",
            "brand_name": "={{ $json.brand_name }}",
            "user_id": "={{ $json.user_id }}",
            "ai_engine": "chatgpt"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "brand_name",
              "displayName": "brand_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ai_engine",
              "displayName": "ai_engine",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "c1585422-e274-4f50-966a-bd88a4bd3e97",
      "name": "Process ChatGPT",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aseVZXcdcstFDT25",
          "mode": "list",
          "cachedResultUrl": "/workflow/aseVZXcdcstFDT25",
          "cachedResultName": "Analysis Processor Multi-Engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "brand_id": "={{ $json.brand_id }}",
            "topic": "={{ $json.topic }}",
            "brand_name": "={{ $json.brand_name }}",
            "user_id": "={{ $json.user_id }}",
            "ai_engine": "perplexity"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "brand_name",
              "displayName": "brand_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ai_engine",
              "displayName": "ai_engine",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "ecd4a4c7-c714-445e-873e-a627c7473141",
      "name": "Process Perplexity",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        176
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aseVZXcdcstFDT25",
          "mode": "list",
          "cachedResultUrl": "/workflow/aseVZXcdcstFDT25",
          "cachedResultName": "Analysis Processor Multi-Engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "brand_id": "={{ $json.brand_id }}",
            "topic": "={{ $json.topic }}",
            "brand_name": "={{ $json.brand_name }}",
            "user_id": "={{ $json.user_id }}",
            "ai_engine": "claude"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "brand_name",
              "displayName": "brand_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ai_engine",
              "displayName": "ai_engine",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "b62d49cf-9c44-48ec-b2c0-6fa0f1ed2ed9",
      "name": "Process Claude",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        368
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        416,
        752
      ],
      "id": "edea0258-2717-42ca-ae26-79509483809e",
      "name": "Exit",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"brandId\": \"example-brand-id\",\n  \"brandName\": \"Example Brand\",\n  \"topic\": \"ai-visibility\",\n  \"userId\": \"example-user-id\",\n  \"userPlan\": \"free\",\n  \"runId\": \"run_1731797972345_example\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1200,
        400
      ],
      "id": "a135838d-0bbf-44f2-86ea-66e574600acf",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "## Todo\n**Enhance the flow to trigger analysis in:\n\nChatGPT\nClaude\nGemini\nPerplexity\nDeepSeek\nGrok\nMistral\nMeta AI"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        16
      ],
      "typeVersion": 1,
      "id": "686ae590-af9a-426e-88d9-68513332c218",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger for Testing": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Validate Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Run Record": {
      "main": [
        [
          {
            "node": "Process ChatGPT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Perplexity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Claude",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Database Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Inputs": {
      "main": [
        [
          {
            "node": "Create Run Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success Response": {
      "main": [
        [
          {
            "node": "Exit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Database Error Response": {
      "main": [
        [
          {
            "node": "Exit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Validation Error Response": {
      "main": [
        [
          {
            "node": "Exit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process ChatGPT": {
      "main": [
        []
      ]
    },
    "Process Perplexity": {
      "main": [
        []
      ]
    },
    "Process Claude": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cfef8529-459d-45bc-9539-67bfd9884a5c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "02bba7aac379f6e7cacf7ad50786592b16e7ca5dbfbf71b3b9646d979cc00f6e"
  },
  "id": "q9lbAB025Xz3tf9f",
  "tags": []
}