n8n/workflows/Analysis Processor ChatGPT.json
{
  "name": "Analysis Processor ChatGPT",
  "nodes": [
    {
      "parameters": {},
      "id": "3fa5d71a-bbbc-4b51-8ee3-10c7f6d58d54",
      "name": "Manual Trigger for Testing",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        160
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "581cde52-bf37-4fde-9a83-616b15f1497b",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        320,
        416
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-run-id",
              "name": "runId",
              "type": "string",
              "value": "={{ $json.run_id || 'run_test_' + Date.now() }}"
            },
            {
              "id": "config-brand-id",
              "name": "brandId",
              "type": "string",
              "value": "={{ $json.brand_id || 'bb64f5e7-23e3-48ee-be1d-698201ffad4f' }}"
            },
            {
              "id": "config-brand-name",
              "name": "brandName",
              "type": "string",
              "value": "={{ $json.brand_name || 'Test Brand' }}"
            },
            {
              "id": "config-topic",
              "name": "topic",
              "type": "string",
              "value": "={{ $json.topic || 'AI automation' }}"
            },
            {
              "id": "config-user-id",
              "name": "userId",
              "type": "string",
              "value": "={{ $json.user_id || '7f078493-f4de-491b-8156-6f7f8f425936' }}"
            },
            {
              "id": "config-batch-size",
              "name": "BATCH_SIZE",
              "type": "number",
              "value": 1
            },
            {
              "id": "config-rate-limit",
              "name": "RATE_LIMIT_S",
              "type": "number",
              "value": 2
            },
            {
              "id": "config-total-queries",
              "name": "TOTAL_QUERIES",
              "type": "number",
              "value": 20
            },
            {
              "id": "055a42c4-2f3a-48c9-9641-8d3f3ba6e8da",
              "name": "executionStart",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "4bad60bb-ec77-408a-92cd-2acbe463fe6f",
              "name": "workflowName",
              "value": "={{ $workflow.name }}",
              "type": "string"
            },
            {
              "id": "87320d6b-07a0-4a4a-9210-d29fe90b32fe",
              "name": "executionId",
              "value": "={{ $execution.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c721917a-a55f-46e0-a669-b38e17d33535",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analysis_runs",
        "filterType": "string",
        "filterString": "=run_id=eq.{{ $('Config').item.json.runId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "b5ed34ed-351e-43c2-b8b9-5372033ff072",
      "name": "Update Status Processing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        976,
        160
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config').item.json;\nconst brandName = config.brandName;\nconst topic = config.topic;\n\nconst templates = [\n  `Who are the leading experts in ${topic}?`,\n  `What are the best resources for learning about ${topic}?`\n];\n\nconst templates_all_20 = [\n  `Who are the leading experts in ${topic}?`,\n  `What are the best resources for learning about ${topic}?`,\n  `Which companies are innovating in ${topic}?`,\n  `Who should I follow for ${topic} insights?`,\n  `What are the top ${topic} solutions?`,\n  `Which thought leaders discuss ${topic}?`,\n  `What are the latest trends in ${topic}?`,\n  `Who are the pioneers of ${topic}?`,\n  `What tools exist for ${topic}?`,\n  `Which brands are known for ${topic}?`,\n  `Who writes about ${topic}?`,\n  `What are the best ${topic} platforms?`,\n  `Which influencers cover ${topic}?`,\n  `What ${topic} services are available?`,\n  `Who provides ${topic} consulting?`,\n  `What are popular ${topic} courses?`,\n  `Which ${topic} podcasts should I listen to?`,\n  `Who are the ${topic} innovators?`,\n  `What ${topic} communities exist?`,\n  `Which ${topic} conferences are important?`\n];\n\nconst output = templates.map((query, index) => ({\n  json: {\n    query: query,\n    queryIndex: index + 1\n  }\n}));\n\nreturn output;"
      },
      "id": "6415b694-86b4-4a65-b390-5fa3a0ba3402",
      "name": "Generate Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        160
      ]
    },
    {
      "parameters": {
        "batchSize": "={{ $('Config').item.json.BATCH_SIZE }}",
        "options": {}
      },
      "id": "01ff3096-eff8-41a7-8c9a-e67456551727",
      "name": "Split Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1424,
        160
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('Config').item.json.RATE_LIMIT_S }}"
      },
      "id": "3699fb7c-1936-4655-8f9e-733c269bd621",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1856,
        432
      ],
      "webhookId": "30034364-5fa6-49d4-85bb-03128c0418d9"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config').item.json;\nconst brandName = config.brandName.toLowerCase();\nconst chatgptData = $json;\nconst queryData = $('Split Batches').item.json;\n\n// ChatGPT returns data differently than Perplexity\n// From LangChain OpenAI node, response is in 'text' field\nconst response = chatgptData.text || chatgptData.content || '';\n\n// ChatGPT doesn't have citations like Perplexity\nconst citations = [];\n\nconst lowerContent = response.toLowerCase();\nconst mentioned = lowerContent.includes(brandName);\n\nlet position = null;\nlet context = null;\n\nif (mentioned) {\n  const firstIndex = lowerContent.indexOf(brandName);\n  \n  // Position scoring based on location in response\n  if (firstIndex < 100) position = 1;\n  else if (firstIndex < 300) position = 2;\n  else if (firstIndex < 600) position = 3;\n  else position = 4;\n  \n  // Extract context around mention\n  const contextStart = Math.max(0, firstIndex - 100);\n  const contextEnd = Math.min(response.length, firstIndex + brandName.length + 100);\n  context = '...' + response.substring(contextStart, contextEnd) + '...';\n}\n\n// ChatGPT doesn't have citations, so mentions are always 'name_only'\nconst mentionType = mentioned ? 'name_only' : null;\n\nreturn {\n  json: {\n    brand_id: config.brandId,\n    run_id: config.runId,\n    ai_engine: 'chatgpt',\n    query: queryData.query,\n    query_index: queryData.queryIndex,\n    mentioned: mentioned,\n    position: position,\n    mention_type: mentionType,\n    sentiment: 'neutral',\n    url: null, // ChatGPT doesn't provide URLs\n    context: context,\n    full_response: response.substring(0, 1000),\n    occurred_at: new Date().toISOString()\n  }\n};"
      },
      "id": "31947c76-84b5-4ded-be87-53b6ccd559f8",
      "name": "Analyze Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        432
      ]
    },
    {
      "parameters": {
        "tableId": "analyses",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "run_id",
              "fieldValue": "={{ $json.run_id }}"
            },
            {
              "fieldId": "brand_id",
              "fieldValue": "={{ $json.brand_id }}"
            },
            {
              "fieldId": "ai_engine",
              "fieldValue": "={{ $json.ai_engine }}"
            },
            {
              "fieldId": "query",
              "fieldValue": "={{ $json.query }}"
            },
            {
              "fieldId": "mentioned",
              "fieldValue": "={{ $json.mentioned }}"
            },
            {
              "fieldId": "position",
              "fieldValue": "={{ $json.position }}"
            },
            {
              "fieldId": "mention_type",
              "fieldValue": "={{ $json.mention_type }}"
            },
            {
              "fieldId": "sentiment",
              "fieldValue": "={{ $json.sentiment }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "context",
              "fieldValue": "={{ $json.context }}"
            },
            {
              "fieldId": "full_response",
              "fieldValue": "={{ $json.full_response }}"
            },
            {
              "fieldId": "occurred_at",
              "fieldValue": "={{ $json.occurred_at }}"
            }
          ]
        }
      },
      "id": "7fe9a11c-1f29-4d33-8e68-aab4982b2135",
      "name": "Save Query Result",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2304,
        656
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Log failed query\nconst config = $('Config').item.json;\nconst queryData = $('Split Batches').item.json;\nconst error = $json.error || { message: 'API call failed' };\n\nconsole.error(`Query ${queryData.queryIndex} failed:`, error.message);\n\n// Return minimal result for failed query\nreturn {\n  json: {\n    brand_id: config.brandId,\n    run_id: config.runId,\n    ai_engine: 'chatgpt',\n    query: queryData.query,\n    query_index: queryData.queryIndex,\n    mentioned: false,\n    position: null,\n    mention_type: null,\n    sentiment: null,\n    url: null,\n    context: null,\n    full_response: `ERROR: ${error.message}`,\n    occurred_at: new Date().toISOString()\n  }\n};"
      },
      "id": "a7b29fd9-88e1-4d71-843f-27fb2016d32b",
      "name": "Handle API Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        656
      ]
    },
    {
      "parameters": {},
      "id": "b76dffd9-37e8-4e9d-8207-ec39ba3bf83f",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2080,
        656
      ]
    },
    {
      "parameters": {},
      "id": "e8195554-7605-406c-84a9-870b00ef714b",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2512,
        656
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "analyses",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=run_id=eq.{{ $('Config').item.json.runId }}"
      },
      "id": "9ad67781-e008-43cf-bb4e-a180dd127e82",
      "name": "Get Analyses",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1632,
        160
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const analyses = $input.all().map(item => item.json);\nconst totalQueries = analyses.length;\nconst totalMentions = analyses.filter(a => a.mentioned === true).length;\nconst mentionRate = totalQueries > 0 ? Math.round((totalMentions / totalQueries) * 100 * 100) / 100 : 0;\nconst topPositionCount = analyses.filter(a => a.position === 1).length;\nconst citationCount = analyses.filter(a => a.mention_type === 'citation').length;\nconst positionsArray = analyses.filter(a => a.position !== null).map(a => a.position);\nconst avgPosition = positionsArray.length > 0 ? Math.round((positionsArray.reduce((sum, p) => sum + p, 0) / positionsArray.length) * 10) / 10 : null;\n\nreturn {\n  json: {\n    total_queries: totalQueries,\n    total_mentions: totalMentions,\n    mention_rate: mentionRate,\n    visibility_score: mentionRate,\n    top_position_count: topPositionCount,\n    citation_count: citationCount,\n    avg_position: avgPosition\n  }\n};"
      },
      "id": "691dfce9-fded-4e72-a7d9-dd3bfa18ae00",
      "name": "Calculate Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analysis_runs",
        "filterType": "string",
        "filterString": "=run_id=eq.{{ $('Config').first().json.runId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "progress",
              "fieldValue": "100"
            },
            {
              "fieldId": "total_queries",
              "fieldValue": "={{ $json.total_queries }}"
            },
            {
              "fieldId": "queries_completed",
              "fieldValue": "={{ $json.total_queries }}"
            },
            {
              "fieldId": "total_mentions",
              "fieldValue": "={{ $json.total_mentions }}"
            },
            {
              "fieldId": "mention_rate",
              "fieldValue": "={{ $json.mention_rate }}"
            },
            {
              "fieldId": "visibility_score",
              "fieldValue": "={{ $json.visibility_score }}"
            },
            {
              "fieldId": "top_position_count",
              "fieldValue": "={{ $json.top_position_count }}"
            },
            {
              "fieldId": "citation_count",
              "fieldValue": "={{ $json.citation_count }}"
            },
            {
              "fieldId": "avg_position",
              "fieldValue": "={{ $json.avg_position }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "26c91c25-55bf-424a-8947-929b59bc4407",
      "name": "Update Status Completed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2080,
        160
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Always Return, Never Throw\n**because it is a subworkflow",
        "height": 220,
        "width": 740
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        -304
      ],
      "typeVersion": 1,
      "id": "b3336bc5-b760-429d-97f0-1c28e560c64c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3c26de2-ae2b-423d-a5e6-b731243b0878",
              "leftValue": "={{ $('Config').item.json.runId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8f1b43cc-785e-460a-8f15-df71bfef5e21",
              "leftValue": "={{ $('Config').item.json.brandId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "99b5fb2c-0c89-42b9-89c3-7c9ce437beaf",
              "leftValue": "={{ $('Config').item.json.brandName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "55b30658-d844-4748-82a7-e9d98b258bf0",
              "leftValue": "={{ $('Config').item.json.topic }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        160
      ],
      "id": "124856ab-e2a3-4158-9f21-6cf813f90d87",
      "name": "Validate Inputs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "error",
              "value": "={{\n  {\n    \"message\": \"Missing required parameters. Please provide: runId, brandId, brandName, and topic\",\n    \"code\": \"VALIDATION_ERROR\",\n    \"node\": \"Validate Inputs\",\n    \"timestamp\": $now.toISO(),\n    \"isRetryable\": false\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{\n  {\n    \"executionId\": $('Config').item.json.executionId,\n    \"workflowName\": $('Config').item.json.workflowName\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        608
      ],
      "id": "dd64da83-783a-449a-a969-7b78be35bc32",
      "name": "Set Input Validation Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "error",
              "value": "={{\n  {\n    \"message\": `Database operation failed: ${$json.error?.message || 'Unknown database error'}`,\n    \"code\": \"DATABASE_ERROR\",\n    \"node\": \"Database Operation\",\n    \"timestamp\": $now.toISO(),\n    \"isRetryable\": true,\n    \"details\": $json.error\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{\n  {\n    \"executionId\": $execution.id,\n    \"workflowName\": $workflow.name,\n    \"runId\": $('Config').first().json.runId\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2512,
        432
      ],
      "id": "cb5b5cdf-e25a-423c-9109-0adc88d79bf3",
      "name": "Set Database Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77711223-45be-4379-972e-b1d5b5066406",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "ca8468cc-1e33-46a5-979e-cb84c7d73974",
              "name": "data",
              "value": "={{\n  {\n    \"runId\": $('Config').first().json.runId,\n    \"brandId\": $('Config').first().json.brandId,\n    \"brandName\": $('Config').first().json.brandName,\n    \"totalQueries\": $('Calculate Scores').first().json.total_queries,\n    \"totalMentions\": $('Calculate Scores').first().json.total_mentions,\n    \"mentionRate\": $('Calculate Scores').first().json.mention_rate,\n    \"visibilityScore\": $('Calculate Scores').first().json.visibility_score,\n    \"topPositionCount\": $('Calculate Scores').first().json.top_position_count,\n    \"citationCount\": $('Calculate Scores').first().json.citation_count,\n    \"avgPosition\": $('Calculate Scores').first().json.avg_position,\n    \"status\": \"completed\",\n    \"completedAt\": $now.toISO()\n  }\n}}",
              "type": "object"
            },
            {
              "id": "fe43d221-9f0e-4fb9-b704-6248467a837b",
              "name": "metadata",
              "value": "={{\n  {\n    \"executionId\": $('Config').first().json.executionId,\n    \"workflowName\": $('Config').first().json.workflowName,\n    \"duration\": Math.round(($now.toMillis() - new Date($('Config').first().json.executionStart).getTime()) / 1000)\n  }\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        160
      ],
      "id": "e47f1267-e064-4155-91ba-40013c13147c",
      "name": "Set Success Response"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2896,
        448
      ],
      "id": "cef9b267-0b8f-4433-a61e-7f5cc1bef06c",
      "name": "Merge All Paths"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3120,
        448
      ],
      "id": "140fb981-91d6-4c12-97cf-3621873076dd",
      "name": "Return Response"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1-chat-latest",
          "mode": "list",
          "cachedResultName": "GPT-5.1-CHAT-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1488,
        432
      ],
      "id": "f4b91f61-c758-4751-b836-d94e698180c6",
      "name": "Call ChatGPT",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "openAiApi": {
          "id": "6RW2tBbfXUKOkPjK",
          "name": "OpenAi GEORISE"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger for Testing": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Validate Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Processing": {
      "main": [
        [
          {
            "node": "Generate Queries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Database Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Queries": {
      "main": [
        [
          {
            "node": "Split Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Batches": {
      "main": [
        [
          {
            "node": "Get Analyses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call ChatGPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Analyze Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Response": {
      "main": [
        [
          {
            "node": "Save Query Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Query Result": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Database Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle API Error": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Save Query Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Split Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Analyses": {
      "main": [
        [
          {
            "node": "Calculate Scores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Database Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Scores": {
      "main": [
        [
          {
            "node": "Update Status Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Completed": {
      "main": [
        [
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Database Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Inputs": {
      "main": [
        [
          {
            "node": "Update Status Processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Input Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Validation Error": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Set Database Error": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set Success Response": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Paths": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ChatGPT": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4aed89ea-ea6c-442b-a16d-e62c7c6558be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2347f3b8b1dfdc75f6e4d6c79bbcea28b8c181a984423783d1a0375c872f55c3"
  },
  "id": "ClmgtWtxiZVyPbGq",
  "tags": []
}