n8n/workflows/GEORISE_Analysis_Processor_v2.json
{
  "name": "GEORISE Analysis Processor",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-test",
      "name": "Manual Trigger for Testing",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 100]
    },
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "config-run-id",
              "name": "runId",
              "type": "string",
              "value": "={{ $json.runId || 'run_test_' + Date.now() }}"
            },
            {
              "id": "config-brand-id",
              "name": "brandId",
              "type": "string",
              "value": "={{ $json.brandId || '00000000-0000-4000-8000-000000000001' }}"
            },
            {
              "id": "config-brand-name",
              "name": "brandName",
              "type": "string",
              "value": "={{ $json.brandName || 'Test Brand' }}"
            },
            {
              "id": "config-topic",
              "name": "topic",
              "type": "string",
              "value": "={{ $json.topic || 'AI automation' }}"
            },
            {
              "id": "config-user-id",
              "name": "userId",
              "type": "string",
              "value": "={{ $json.userId || '00000000-0000-4000-8000-000000000002' }}"
            },
            {
              "id": "config-batch-size",
              "name": "BATCH_SIZE",
              "type": "number",
              "value": 1
            },
            {
              "id": "config-rate-limit",
              "name": "RATE_LIMIT_MS",
              "type": "number",
              "value": 2000
            },
            {
              "id": "config-total-queries",
              "name": "TOTAL_QUERIES",
              "type": "number",
              "value": 20
            }
          ]
        }
      },
      "id": "config-node",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analysis_runs",
        "dataMode": "defineInNode",
        "fieldsToSend": {
          "fields": [
            {
              "fieldName": "status",
              "fieldValue": "processing"
            },
            {
              "fieldName": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        },
        "filterType": "manual",
        "matchBy": {
          "fields": [
            {
              "fieldName": "run_id",
              "fieldValue": "={{ $('Config').item.json.runId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-status-processing",
      "name": "Update Status Processing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 200],
      "credentials": {
        "supabaseApi": {
          "id": "lovable_supabase",
          "name": "Lovable Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config').item.json;\nconst brandName = config.brandName;\nconst topic = config.topic;\n\nconst templates = [\n  `Who are the leading experts in ${topic}?`,\n  `What are the best resources for learning about ${topic}?`,\n  `Which companies are innovating in ${topic}?`,\n  `Who should I follow for ${topic} insights?`,\n  `What are the top ${topic} solutions?`,\n  `Which thought leaders discuss ${topic}?`,\n  `What are the latest trends in ${topic}?`,\n  `Who are the pioneers of ${topic}?`,\n  `What tools exist for ${topic}?`,\n  `Which brands are known for ${topic}?`,\n  `Who writes about ${topic}?`,\n  `What are the best ${topic} platforms?`,\n  `Which influencers cover ${topic}?`,\n  `What ${topic} services are available?`,\n  `Who provides ${topic} consulting?`,\n  `What are popular ${topic} courses?`,\n  `Which ${topic} podcasts should I listen to?`,\n  `Who are the ${topic} innovators?`,\n  `What ${topic} communities exist?`,\n  `Which ${topic} conferences are important?`\n];\n\nconst output = templates.map((query, index) => ({\n  json: {\n    query: query,\n    queryIndex: index + 1\n  }\n}));\n\nreturn output;"
      },
      "id": "generate-queries",
      "name": "Generate Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "batchSize": "={{ $('Config').item.json.BATCH_SIZE }}",
        "options": {}
      },
      "id": "split-batches",
      "name": "Split Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {
              "content": "={{ $json.query }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 1000
        },
        "requestOptions": {}
      },
      "id": "call-perplexity",
      "name": "Call Perplexity",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "perplexityApi": {
          "id": "perplexity_api",
          "name": "Perplexity API"
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "perplexity-success-check",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.choices }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "check-perplexity-success",
      "name": "Check Perplexity Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "amount": "={{ $('Config').item.json.RATE_LIMIT_MS }}",
        "unit": "milliseconds"
      },
      "id": "rate-limit-delay",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1650, 80],
      "webhookId": "rate-limit-delay"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config').item.json;\nconst brandName = config.brandName.toLowerCase();\nconst perplexityData = $json;\nconst queryData = $('Split Batches').item.json;\n\nconst response = perplexityData.choices[0].message.content;\nconst citations = perplexityData.citations || [];\n\nconst lowerContent = response.toLowerCase();\nconst mentioned = lowerContent.includes(brandName);\n\nlet position = null;\nlet context = null;\n\nif (mentioned) {\n  const firstIndex = lowerContent.indexOf(brandName);\n  \n  // Position scoring based on location in response\n  if (firstIndex < 100) position = 1;\n  else if (firstIndex < 300) position = 2;\n  else if (firstIndex < 600) position = 3;\n  else position = 4;\n  \n  // Extract context around mention\n  const contextStart = Math.max(0, firstIndex - 100);\n  const contextEnd = Math.min(response.length, firstIndex + brandName.length + 100);\n  context = '...' + response.substring(contextStart, contextEnd) + '...';\n}\n\nconst mentionType = mentioned ? (citations.length > 0 ? 'citation' : 'name_only') : null;\n\nreturn {\n  json: {\n    brand_id: config.brandId,\n    run_id: config.runId,\n    ai_engine: 'perplexity',\n    query: queryData.query,\n    query_index: queryData.queryIndex,\n    mentioned: mentioned,\n    position: position,\n    mention_type: mentionType,\n    sentiment: 'neutral',\n    url: citations.length > 0 ? citations[0] : null,\n    context: context,\n    full_response: response.substring(0, 1000),\n    occurred_at: new Date().toISOString()\n  }\n};"
      },
      "id": "analyze-response",
      "name": "Analyze Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 80]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "analyses",
        "dataMode": "defineInNode",
        "fieldsToSend": {
          "fields": [
            {
              "fieldName": "run_id",
              "fieldValue": "={{ $json.run_id }}"
            },
            {
              "fieldName": "brand_id",
              "fieldValue": "={{ $json.brand_id }}"
            },
            {
              "fieldName": "ai_engine",
              "fieldValue": "={{ $json.ai_engine }}"
            },
            {
              "fieldName": "query",
              "fieldValue": "={{ $json.query }}"
            },
            {
              "fieldName": "query_index",
              "fieldValue": "={{ $json.query_index }}"
            },
            {
              "fieldName": "mentioned",
              "fieldValue": "={{ $json.mentioned }}"
            },
            {
              "fieldName": "position",
              "fieldValue": "={{ $json.position }}"
            },
            {
              "fieldName": "mention_type",
              "fieldValue": "={{ $json.mention_type }}"
            },
            {
              "fieldName": "sentiment",
              "fieldValue": "={{ $json.sentiment }}"
            },
            {
              "fieldName": "url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldName": "context",
              "fieldValue": "={{ $json.context }}"
            },
            {
              "fieldName": "full_response",
              "fieldValue": "={{ $json.full_response }}"
            },
            {
              "fieldName": "occurred_at",
              "fieldValue": "={{ $json.occurred_at }}"
            }
          ]
        },
        "options": {}
      },
      "id": "save-query-result",
      "name": "Save Query Result",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2050, 80],
      "credentials": {
        "supabaseApi": {
          "id": "lovable_supabase",
          "name": "Lovable Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log failed query\nconst config = $('Config').item.json;\nconst queryData = $('Split Batches').item.json;\nconst error = $json.error || { message: 'API call failed' };\n\nconsole.error(`Query ${queryData.queryIndex} failed:`, error.message);\n\n// Return minimal result for failed query\nreturn {\n  json: {\n    brand_id: config.brandId,\n    run_id: config.runId,\n    ai_engine: 'perplexity',\n    query: queryData.query,\n    query_index: queryData.queryIndex,\n    mentioned: false,\n    position: null,\n    mention_type: null,\n    sentiment: null,\n    url: null,\n    context: null,\n    full_response: `ERROR: ${error.message}`,\n    occurred_at: new Date().toISOString()\n  }\n};"
      },
      "id": "handle-api-error",
      "name": "Handle API Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 320]
    },
    {
      "parameters": {},
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1850, 200]
    },
    {
      "parameters": {},
      "id": "loop-back",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2250, 80]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "analyses",
        "returnAll": true,
        "filterType": "manual",
        "matchBy": {
          "fields": [
            {
              "fieldName": "run_id",
              "fieldValue": "={{ $('Config').item.json.runId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-analyses",
      "name": "Get Analyses",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2450, 200],
      "credentials": {
        "supabaseApi": {
          "id": "lovable_supabase",
          "name": "Lovable Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const analyses = $input.all().map(item => item.json);\nconst totalQueries = analyses.length;\nconst totalMentions = analyses.filter(a => a.mentioned === true).length;\nconst mentionRate = totalQueries > 0 ? Math.round((totalMentions / totalQueries) * 100 * 100) / 100 : 0;\nconst topPositionCount = analyses.filter(a => a.position === 1).length;\nconst citationCount = analyses.filter(a => a.mention_type === 'citation').length;\nconst positionsArray = analyses.filter(a => a.position !== null).map(a => a.position);\nconst avgPosition = positionsArray.length > 0 ? Math.round((positionsArray.reduce((sum, p) => sum + p, 0) / positionsArray.length) * 10) / 10 : null;\n\nreturn {\n  json: {\n    total_queries: totalQueries,\n    total_mentions: totalMentions,\n    mention_rate: mentionRate,\n    visibility_score: mentionRate,\n    top_position_count: topPositionCount,\n    citation_count: citationCount,\n    avg_position: avgPosition\n  }\n};"
      },
      "id": "calculate-scores",
      "name": "Calculate Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analysis_runs",
        "dataMode": "defineInNode",
        "fieldsToSend": {
          "fields": [
            {
              "fieldName": "status",
              "fieldValue": "completed"
            },
            {
              "fieldName": "progress",
              "fieldValue": "100"
            },
            {
              "fieldName": "total_queries",
              "fieldValue": "={{ $json.total_queries }}"
            },
            {
              "fieldName": "queries_completed",
              "fieldValue": "={{ $json.total_queries }}"
            },
            {
              "fieldName": "total_mentions",
              "fieldValue": "={{ $json.total_mentions }}"
            },
            {
              "fieldName": "mention_rate",
              "fieldValue": "={{ $json.mention_rate }}"
            },
            {
              "fieldName": "visibility_score",
              "fieldValue": "={{ $json.visibility_score }}"
            },
            {
              "fieldName": "top_position_count",
              "fieldValue": "={{ $json.top_position_count }}"
            },
            {
              "fieldName": "citation_count",
              "fieldValue": "={{ $json.citation_count }}"
            },
            {
              "fieldName": "avg_position",
              "fieldValue": "={{ $json.avg_position }}"
            },
            {
              "fieldName": "completed_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldName": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        },
        "filterType": "manual",
        "matchBy": {
          "fields": [
            {
              "fieldName": "run_id",
              "fieldValue": "={{ $('Config').item.json.runId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-status-completed",
      "name": "Update Status Completed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2850, 200],
      "credentials": {
        "supabaseApi": {
          "id": "lovable_supabase",
          "name": "Lovable Supabase"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger for Testing": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Update Status Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Processing": {
      "main": [
        [
          {
            "node": "Generate Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Queries": {
      "main": [
        [
          {
            "node": "Split Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Batches": {
      "main": [
        [
          {
            "node": "Call Perplexity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Perplexity": {
      "main": [
        [
          {
            "node": "Check Perplexity Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Perplexity Success": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Analyze Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Response": {
      "main": [
        [
          {
            "node": "Save Query Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Query Result": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle API Error": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Save Query Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Split Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Analyses": {
      "main": [
        [
          {
            "node": "Calculate Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Scores": {
      "main": [
        [
          {
            "node": "Update Status Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "georise-processor-v2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "n8n-georise"
  }
}
