n8n/workflows/GEORISE_Scheduler - Supabase v2.json
{
  "name": "GEORISE Scheduler - Supabase",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "0393cc6d-167f-4ef6-a5b9-791f856d0f52",
      "name": "Run Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2560,
        384
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "9f799c05-9be1-49dd-a9b5-b6de8e327924",
      "name": "Manual Trigger for Testing",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2736,
        192
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "init-error-count",
              "name": "errorCount",
              "type": "number",
              "value": 0
            },
            {
              "id": "init-success-count",
              "name": "successCount",
              "type": "number",
              "value": 0
            },
            {
              "id": "init-errors",
              "name": "errors",
              "type": "array",
              "value": []
            },
            {
              "id": "init-timestamp",
              "name": "runStartedAt",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e54c5c36-9f66-465a-8992-7986c052f285",
      "name": "Initialize Stats",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2320,
        288
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "monitoring_configs_due",
        "returnAll": true,
        "filterType": "string"
      },
      "id": "e837f493-2010-49c1-a795-a560397d28cd",
      "name": "Get Configs Due to Run",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2096,
        288
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-has-configs",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ba2a8066-b074-49dd-a568-870ba8342043",
      "name": "Has Configs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1888,
        288
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bc8aa4d9-8897-4902-a556-fb564dc01cfd",
      "name": "Loop Through Configs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1376,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get current config\nconst config = $json;\nconst stats = $('Initialize Stats').item.json;\n\n// Expand engines array into separate items\nconst engines = config.enabled_engines || ['perplexity'];\n\nreturn engines.map(engine => ({\n  json: {\n    config_id: config.config_id,\n    brand_id: config.brand_id,\n    brand_name: config.brand_name,\n    topic: config.topic,\n    user_id: config.user_id,\n    user_plan: config.user_plan,\n    ai_engine: engine,\n    run_id: `run_${engine}_${Date.now()}_${config.brand_id}`,\n    timestamp: new Date().toISOString(),\n    errorCount: stats.errorCount,\n    successCount: stats.successCount,\n    errors: stats.errors\n  }\n}));"
      },
      "id": "bbbe2ff2-3ff1-4a56-b72d-ca3fa15e5b9c",
      "name": "Expand Engines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        144
      ]
    },
    {
      "parameters": {
        "tableId": "analysis_runs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "run_id",
              "fieldValue": "={{ $json.run_id }}"
            },
            {
              "fieldId": "brand_id",
              "fieldValue": "={{ $json.brand_id }}"
            },
            {
              "fieldId": "brand_name",
              "fieldValue": "={{ $json.brand_name }}"
            },
            {
              "fieldId": "topic",
              "fieldValue": "={{ $json.topic }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "ai_engine",
              "fieldValue": "={{ $json.ai_engine }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "monitoring_config_id",
              "fieldValue": "={{ $json.config_id }}"
            }
          ]
        }
      },
      "id": "daed71f6-fda7-4f51-a37d-964eb0d5e662",
      "name": "Create Run Record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -960,
        144
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "select-processor",
              "name": "processorWorkflow",
              "type": "string",
              "value": "={{ $json.ai_engine === 'perplexity' ? 'GEORISE Analysis Processor' : 'GEORISE_Processor_' + $json.ai_engine }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fbe3ba7c-e97f-4597-b2c4-4ba9e46fa1c3",
      "name": "Select Processor",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        128
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HVpkPV4tbw10G82z",
          "mode": "list",
          "cachedResultUrl": "/workflow/HVpkPV4tbw10G82z",
          "cachedResultName": "Analysis Processor Peplexity"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "bd2e4fe7-9d43-46b5-9492-53724b2a8144",
      "name": "Execute Processor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -336,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Increment success count\nconst prevData = $('Expand Engines').item.json;\nreturn {\n  json: {\n    ...prevData,\n    successCount: prevData.successCount + 1,\n    lastSuccess: {\n      brand: prevData.brand_name,\n      topic: prevData.topic,\n      engine: prevData.ai_engine,\n      runId: prevData.run_id\n    }\n  }\n};"
      },
      "id": "f65c7f00-c6f5-4e96-85d3-a4b87137ccab",
      "name": "Increment Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "monitoring_configs",
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Expand Engines').item.json.config_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_run_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "next_run_at",
              "fieldValue": "={{ $now.plus({ days: $('Expand Engines').item.json.user_plan === 'free' ? 7 : 1 }).toISO() }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "8e1e2da2-2fde-4aa7-a591-dfa0ffa5dcea",
      "name": "Update Next Run Time",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        -16
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Log error and increment count\nconst prevData = $('Expand Engines').item.json;\nconst error = $json.error || { message: 'Processor execution failed' };\n\nconst newError = {\n  brand: prevData.brand_name,\n  topic: prevData.topic,\n  engine: prevData.ai_engine,\n  runId: prevData.run_id,\n  error: error.message || JSON.stringify(error),\n  timestamp: new Date().toISOString()\n};\n\nreturn {\n  json: {\n    ...prevData,\n    errorCount: prevData.errorCount + 1,\n    errors: [...prevData.errors, newError]\n  }\n};"
      },
      "id": "0c14031a-abe8-4496-88d9-3b7ea58e659e",
      "name": "Log Processor Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        144
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analysis_runs",
        "filterType": "string",
        "filterString": "=run_id=eq.{{ $('Expand Engines').item.json.run_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "failed"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $json.errors[$json.errors.length - 1].error }}"
            },
            {
              "fieldId": "retry_count",
              "fieldValue": "3"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "7285f7df-ef1f-4e91-a9f9-01942350996e",
      "name": "Mark Run Failed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        144
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Log error for run record creation failure\nconst prevData = $('Expand Engines').item.json;\nconst error = $json.error || { message: 'Failed to create run record' };\n\nconst newError = {\n  brand: prevData.brand_name,\n  topic: prevData.topic,\n  engine: prevData.ai_engine,\n  error: `DB Error: ${error.message || JSON.stringify(error)}`,\n  timestamp: new Date().toISOString()\n};\n\nreturn {\n  json: {\n    ...prevData,\n    errorCount: prevData.errorCount + 1,\n    errors: [...prevData.errors, newError]\n  }\n};"
      },
      "id": "98e2ce70-657e-4bf9-b728-102de28d24e8",
      "name": "Log Create Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        400
      ]
    },
    {
      "parameters": {},
      "id": "765dcf92-b273-49fd-91c8-272841e1a158",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        384
      ]
    },
    {
      "parameters": {},
      "id": "353a95eb-bdd5-45e6-b6f2-c13a6330895c",
      "name": "No Configs - End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1488,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all results after loop completes\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{\n    json: {\n      totalRuns: 0,\n      successCount: 0,\n      errorCount: 0,\n      errors: [],\n      message: 'No configurations processed'\n    }\n  }];\n}\n\n// Get the last item which has accumulated stats\nconst lastItem = items[items.length - 1].json;\n\nreturn [{\n  json: {\n    totalRuns: lastItem.successCount + lastItem.errorCount,\n    successCount: lastItem.successCount,\n    errorCount: lastItem.errorCount,\n    errors: lastItem.errors || [],\n    runStartedAt: $('Initialize Stats').item.json.runStartedAt,\n    runCompletedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "c230eb11-8cb5-4934-8bf0-a1198cd63bab",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-has-errors",
              "leftValue": "={{ $json.errorCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3a69ce23-eb98-40b9-a327-7b80dad5da6b",
      "name": "Has Errors?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format email body with error details\nconst data = $json;\n\nconst errorList = data.errors.map((err, idx) => \n  `${idx + 1}. Brand: ${err.brand}\\n   Topic: ${err.topic}\\n   Engine: ${err.engine}\\n   Error: ${err.error}\\n   Time: ${err.timestamp}\\n`\n).join('\\n');\n\nconst emailBody = `\nGEORISE Scheduler Run Failed\n=============================\n\nRun Summary:\n- Started: ${data.runStartedAt}\n- Completed: ${data.runCompletedAt}\n- Total Runs: ${data.totalRuns}\n- Successful: ${data.successCount}\n- Failed: ${data.errorCount}\n\nErrors:\n${errorList}\n\n---\nGEORISE Automated Scheduler\n`;\n\nreturn {\n  json: {\n    ...data,\n    emailSubject: `⚠️ GEORISE Scheduler: ${data.errorCount} Failed Analyses`,\n    emailBody: emailBody\n  }\n};"
      },
      "id": "8371db40-661a-45d9-a6c3-fb24a6966bba",
      "name": "Format Error Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -320
      ]
    },
    {
      "parameters": {
        "sendTo": "michael@zelbel.de",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "text",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "71a13737-b0f3-470d-98ef-4f81732bbad0",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        -320
      ],
      "webhookId": "cb2cdd5a-7ba4-4a5c-a878-51ca1fa0a769",
      "credentials": {
        "gmailOAuth2": {
          "id": "i5orzzYCOIwoyw44",
          "name": "Gmail account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "225c54af-d9fd-489f-ba1b-1a9c4fff9c11",
      "name": "End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        416,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Create test monitoring config using Supabase JS client\n// This handles the UPSERT logic (INSERT with ON CONFLICT DO UPDATE)\n\nconst testBrandId = 'bb64f5e7-23e3-48ee-be1d-698201ffad4f';\nconst testUserId = '7f078493-f4de-491b-8156-6f7f8f425936';\nconst testTopic = 'Test ' + new Date().toISOString().replace(/[:.]/g, '-');\n\n// Note: This requires Supabase JS client access\n// If not available, this should be done via HTTP Request node\nconst payload = {\n  brand_id: testBrandId,\n  user_id: testUserId,\n  topic: testTopic,\n  enabled_engines: ['perplexity'],\n  frequency: 'daily',\n  active: true,\n  next_run_at: new Date(Date.now() - 3600000).toISOString() // 1 hour ago\n};\n\nreturn {\n  json: payload\n};"
      },
      "id": "b24f0d30-9570-4666-943c-4a3f43632b4b",
      "name": "Prepare Test Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2544,
        192
      ]
    },
    {
      "parameters": {
        "tableId": "monitoring_configs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "brand_id",
              "fieldValue": "={{ $json.brand_id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "topic",
              "fieldValue": "={{ $json.topic }}"
            },
            {
              "fieldId": "enabled_engines",
              "fieldValue": "={{ $json.enabled_engines }}"
            },
            {
              "fieldId": "frequency",
              "fieldValue": "={{ $json.frequency }}"
            },
            {
              "fieldId": "active",
              "fieldValue": "={{ $json.active }}"
            },
            {
              "fieldId": "next_run_at",
              "fieldValue": "={{ $json.next_run_at }}"
            }
          ]
        }
      },
      "id": "a8c9d0e1-f2b3-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "Insert Test Config",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2336,
        192
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "xSCCE5dL9poY7JFF",
          "name": "Supabase Lovable Georise"
        }
      },
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c30e9f91-ba14-45f7-8dcf-d20ced89e30c",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        144
      ],
      "id": "d611294e-09dd-4ad1-a361-1c48217926e2",
      "name": "Run Created?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c30e9f91-ba14-45f7-8dcf-d20ced89e30c",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        128
      ],
      "id": "1c1b725a-0f15-4701-8ea1-da660e1d1c27",
      "name": "Processor Success Check"
    }
  ],
  "pinData": {},
  "connections": {
    "Run Every Hour": {
      "main": [
        [
          {
            "node": "Initialize Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger for Testing": {
      "main": [
        [
          {
            "node": "Prepare Test Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Stats": {
      "main": [
        [
          {
            "node": "Get Configs Due to Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Configs Due to Run": {
      "main": [
        [
          {
            "node": "Has Configs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Configs?": {
      "main": [
        [
          {
            "node": "Loop Through Configs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Configs - End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Configs": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Expand Engines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Engines": {
      "main": [
        [
          {
            "node": "Create Run Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Run Record": {
      "main": [
        [
          {
            "node": "Run Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Processor": {
      "main": [
        [
          {
            "node": "Execute Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Processor": {
      "main": [
        [
          {
            "node": "Processor Success Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Success": {
      "main": [
        [
          {
            "node": "Update Next Run Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Next Run Time": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Processor Error": {
      "main": [
        [
          {
            "node": "Mark Run Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Failed": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Log Create Error": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Loop Through Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Has Errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Errors?": {
      "main": [
        [
          {
            "node": "Format Error Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Email": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Email": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Test Config": {
      "main": [
        [
          {
            "node": "Insert Test Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Test Config": {
      "main": [
        [
          {
            "node": "Initialize Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Created?": {
      "main": [
        [
          {
            "node": "Select Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Create Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processor Success Check": {
      "main": [
        [
          {
            "node": "Increment Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Processor Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ab5b946c-0800-4796-b20f-f3e05d3dce6f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2347f3b8b1dfdc75f6e4d6c79bbcea28b8c181a984423783d1a0375c872f55c3"
  },
  "id": "vKuJpJaXdibnOyzl",
  "tags": []
}
