n8n/workflows/Process Competitor Intelligence.json
{
  "name": "Process Competitor Intelligence",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "runId"
            },
            {
              "name": "brandId"
            },
            {
              "name": "brandName"
            },
            {
              "name": "visibilityScore"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -112,
        288
      ],
      "id": "b5e1d7ef-f1a4-4077-856d-8e05ecfd41d0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-run-id",
              "name": "runId",
              "type": "string",
              "value": "={{ $('When Executed by Another Workflow').first().json.runId }}"
            },
            {
              "id": "config-brand-id",
              "name": "brandId",
              "type": "string",
              "value": "={{ $('When Executed by Another Workflow').first().json.brandId }}"
            },
            {
              "id": "config-brand-name",
              "name": "brandName",
              "type": "string",
              "value": "={{ $('When Executed by Another Workflow').first().json.brandName }}"
            },
            {
              "id": "config-visibility-score",
              "name": "visibilityScore",
              "type": "number",
              "value": "={{ $('When Executed by Another Workflow').first().json.visibilityScore }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f371fee-006a-451c-ba06-af539823e933",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        288
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "brands",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Config').first().json.brandId }}"
            }
          ]
        },
        "returnAll": false,
        "columns": "competitor_1,competitor_2,competitor_3"
      },
      "id": "fetch-brand-config",
      "name": "Fetch Brand Config",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        288
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xjyTBcrvj3X5rWEu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "analyses",
        "filters": {
          "conditions": [
            {
              "keyName": "run_id",
              "condition": "eq",
              "keyValue": "={{ $('Config').first().json.runId }}"
            }
          ]
        },
        "limit": 100
      },
      "id": "fetch-analyses",
      "name": "Fetch All Analyses for Run",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        504,
        288
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xjyTBcrvj3X5rWEu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const brandConfig = $('Fetch Brand Config').first().json;\nconst analyses = $input.all().map(i => i.json);\nconst mainBrandName = $('Config').first().json.brandName;\n\n// Helper to normalize strings\nconst normalize = (s) => s ? s.toLowerCase().trim() : '';\nconst normalizedMainBrand = normalize(mainBrandName);\n\n// User defined competitors\nlet competitors = [];\nif (brandConfig.competitor_1) competitors.push({ name: brandConfig.competitor_1, score: 0, origin: 'user' });\nif (brandConfig.competitor_2) competitors.push({ name: brandConfig.competitor_2, score: 0, origin: 'user' });\nif (brandConfig.competitor_3) competitors.push({ name: brandConfig.competitor_3, score: 0, origin: 'user' });\n\n// Analyze mentions to calculate scores or find competitors\nconst mentionCounts = {};\n\nanalyses.forEach(analysis => {\n  const text = (analysis.full_response || '') + ' ' + (analysis.context || '');\n  \n  // If user competitors are defined, search for them specifically\n  if (competitors.length > 0) {\n    competitors.forEach(comp => {\n      const regex = new RegExp(`\\\\b${comp.name}\\\\b`, 'gi');\n      const matches = text.match(regex);\n      if (matches) {\n        comp.score += matches.length * 10;\n      }\n    });\n  } else {\n    // Auto-discovery mode (simplified)\n    const words = text.match(/\\b[A-Z][a-zA-Z0-9]+\\b/g) || [];\n    words.forEach(word => {\n      const norm = normalize(word);\n      if (norm !== normalizedMainBrand && norm.length > 3) {\n        mentionCounts[word] = (mentionCounts[word] || 0) + 1;\n      }\n    });\n  }\n});\n\nif (competitors.length === 0) {\n  competitors = Object.entries(mentionCounts)\n    .map(([name, count]) => ({ name, score: count * 5, origin: 'auto' }))\n    .sort((a, b) => b.score - a.score)\n    .slice(0, 3);\n    \n  if (competitors.length === 0) {\n     competitors = [\n       { name: 'Competitor A', score: 50, origin: 'placeholder' },\n       { name: 'Competitor B', score: 40, origin: 'placeholder' },\n       { name: 'Competitor C', score: 30, origin: 'placeholder' }\n     ];\n  }\n}\n\ncompetitors.forEach(c => {\n  c.score = Math.min(100, Math.max(10, c.score));\n});\n\nreturn competitors.map(c => ({ json: c }));"
      },
      "id": "identify-competitors",
      "name": "Identify Competitors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        288
      ]
    },
    {
      "parameters": {
        "url": "https://ai.gateway.lovable.dev/v1/chat/completions",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LOVABLE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.0-flash-exp"
            },
            {
              "name": "messages",
              "value": "={{ [\n  { \"role\": \"system\", \"content\": \"You are a competitive analysis expert. Generate a one-sentence gap statement comparing brand visibility.\" },\n  { \"role\": \"user\", \"content\": \"Brand: \" + $('Config').first().json.brandName + \", Visibility Score: \" + $('Config').first().json.visibilityScore + \"\\nCompetitor: \" + $json.name + \", Score: \" + $json.score + \"\\n\\nGenerate ONE sentence describing the competitive gap.\" }\n] }}"
            }
          ]
        }
      },
      "id": "generate-gap-statement",
      "name": "Generate Gap Statement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        904,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const competitorData = $('Identify Competitors').all().map(i => i.json);\nconst gapResponses = $input.all().map(i => i.json);\n\nconst competitors = competitorData.map((comp, index) => ({\n  name: comp.name,\n  score: comp.score,\n  gap: gapResponses[index]?.choices?.[0]?.message?.content || 'Analysis unavailable.'\n}));\n\nreturn [{\n  json: {\n    competitor_1_name: competitors[0]?.name || null,\n    competitor_1_score: competitors[0]?.score || null,\n    competitor_1_gap: competitors[0]?.gap || null,\n    competitor_2_name: competitors[1]?.name || null,\n    competitor_2_score: competitors[1]?.score || null,\n    competitor_2_gap: competitors[1]?.gap || null,\n    competitor_3_name: competitors[2]?.name || null,\n    competitor_3_score: competitors[2]?.score || null,\n    competitor_3_gap: competitors[2]?.gap || null\n  }\n}];"
      },
      "id": "format-competitor-fields",
      "name": "Format Competitor Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        288
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analysis_runs",
        "filterType": "string",
        "filterString": "=run_id=eq.{{ $('Config').first().json.runId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "competitor_1_name",
              "fieldValue": "={{ $json.competitor_1_name }}"
            },
            {
              "fieldId": "competitor_1_score",
              "fieldValue": "={{ $json.competitor_1_score }}"
            },
            {
              "fieldId": "competitor_1_gap",
              "fieldValue": "={{ $json.competitor_1_gap }}"
            },
            {
              "fieldId": "competitor_2_name",
              "fieldValue": "={{ $json.competitor_2_name }}"
            },
            {
              "fieldId": "competitor_2_score",
              "fieldValue": "={{ $json.competitor_2_score }}"
            },
            {
              "fieldId": "competitor_2_gap",
              "fieldValue": "={{ $json.competitor_2_gap }}"
            },
            {
              "fieldId": "competitor_3_name",
              "fieldValue": "={{ $json.competitor_3_name }}"
            },
            {
              "fieldId": "competitor_3_score",
              "fieldValue": "={{ $json.competitor_3_score }}"
            },
            {
              "fieldId": "competitor_3_gap",
              "fieldValue": "={{ $json.competitor_3_gap }}"
            }
          ]
        }
      },
      "id": "ed3e50da-ceba-4e3d-8dae-3be5c6a91708",
      "name": "Update Competitor Data",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1304,
        288
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xjyTBcrvj3X5rWEu",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Fetch Brand Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Brand Config": {
      "main": [
        [
          {
            "node": "Fetch All Analyses for Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Analyses for Run": {
      "main": [
        [
          {
            "node": "Identify Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Competitors": {
      "main": [
        [
          {
            "node": "Generate Gap Statement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Gap Statement": {
      "main": [
        [
          {
            "node": "Format Competitor Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Competitor Fields": {
      "main": [
        [
          {
            "node": "Update Competitor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f415fdd4-71ce-457e-a538-2766f28be8c8",
  "meta": {
    "instanceId": "02bba7aac379f6e7cacf7ad50786592b16e7ca5dbfbf71b3b9646d979cc00f6e"
  },
  "id": "ZjdYn2YtHbYvfWs6",
  "tags": []
}