n8n/workflows/Process Competitor Intelligence.json
{
  "name": "Process Competitor Intelligence",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "runId"
            },
            {
              "name": "brandId"
            },
            {
              "name": "brandName"
            },
            {
              "name": "visibilityScore"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -896,
        16
      ],
      "id": "9f85f627-b0f3-4b4e-b9e4-687bf5f8baa3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-run-id",
              "name": "runId",
              "type": "string",
              "value": "={{ $json.runId || 'run_1763762747330_bb64f5e7-23e3-48ee-be1d-698201ffad4f' }}"
            },
            {
              "id": "config-brand-id",
              "name": "brandId",
              "type": "string",
              "value": "={{ $json.brandId || 'bb64f5e7-23e3-48ee-be1d-698201ffad4f' }}"
            },
            {
              "id": "config-brand-name",
              "name": "brandName",
              "type": "string",
              "value": "={{ $json.brandName || 'Richard Branson' }}"
            },
            {
              "id": "config-visibility-score",
              "name": "visibilityScore",
              "type": "number",
              "value": "={{ $json.visibilityScore || 44.67 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a365542-1a00-4ffd-a662-879ba5ebdc3b",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        16
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "brands",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Config').first().json.brandId }}"
            }
          ]
        }
      },
      "id": "ae597f63-370b-4792-88c5-5459af9a7ee1",
      "name": "Fetch Brand Config",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -480,
        16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xjyTBcrvj3X5rWEu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "analyses",
        "limit": 100,
        "filters": {
          "conditions": [
            {
              "keyName": "run_id",
              "condition": "eq",
              "keyValue": "={{ $('Config').first().json.runId }}"
            }
          ]
        }
      },
      "id": "d462dd3b-e5e8-4c3f-8f8e-0627cf69cff6",
      "name": "Fetch All Analyses for Run",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -272,
        16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xjyTBcrvj3X5rWEu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const brandConfig = $('Fetch Brand Config').first().json;\nconst analyses = $input.all().map(i => i.json);\n\n// Aggregate text from all analyses\nconst aggregated_text = analyses.map(a => (a.full_response || '') + ' ' + (a.context || '')).join('\\n\\n').slice(0, 20000);\n\n// Identify fixed slots (user defined and not 'auto')\nconst competitor_1_fixed = (brandConfig.competitor_1 && brandConfig.competitor_1.toLowerCase() !== 'auto') ? brandConfig.competitor_1 : null;\nconst competitor_2_fixed = (brandConfig.competitor_2 && brandConfig.competitor_2.toLowerCase() !== 'auto') ? brandConfig.competitor_2 : null;\nconst competitor_3_fixed = (brandConfig.competitor_3 && brandConfig.competitor_3.toLowerCase() !== 'auto') ? brandConfig.competitor_3 : null;\n\nreturn [{\n  json: {\n    aggregated_text,\n    competitor_1_fixed,\n    competitor_2_fixed,\n    competitor_3_fixed\n  }\n}];"
      },
      "id": "17f099e5-853d-4083-95d3-3b595256e8b1",
      "name": "Consolidate Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json.output;\nlet competitors = [];\n\ntry {\n  // Parse AI output if it's a string, or use directly if object\n  competitors = typeof aiOutput === 'string' ? JSON.parse(aiOutput) : aiOutput;\n} catch (e) {\n  competitors = [];\n}\n\n// Helper to get comp by slot\nconst getComp = (slot) => competitors.find(c => c.slot === slot) || {};\n\nreturn [{\n  json: {\n    competitor_1_name: getComp(1).name || null,\n    competitor_1_score: getComp(1).score || null,\n    competitor_1_gap: getComp(1).gap || null,\n    competitor_2_name: getComp(2).name || null,\n    competitor_2_score: getComp(2).score || null,\n    competitor_2_gap: getComp(2).gap || null,\n    competitor_3_name: getComp(3).name || null,\n    competitor_3_score: getComp(3).score || null,\n    competitor_3_gap: getComp(3).gap || null\n  }\n}];"
      },
      "id": "f7f9dde6-f943-46dd-a5db-86bd228ecc1a",
      "name": "Format Competitor Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        16
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "analysis_runs",
        "filterType": "string",
        "filterString": "=run_id=eq.{{ $('Config').first().json.runId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "competitor_1_name",
              "fieldValue": "={{ $json.competitor_1_name }}"
            },
            {
              "fieldId": "competitor_1_score",
              "fieldValue": "={{ $json.competitor_1_score }}"
            },
            {
              "fieldId": "competitor_1_gap",
              "fieldValue": "={{ $json.competitor_1_gap }}"
            },
            {
              "fieldId": "competitor_2_name",
              "fieldValue": "={{ $json.competitor_2_name }}"
            },
            {
              "fieldId": "competitor_2_score",
              "fieldValue": "={{ $json.competitor_2_score }}"
            },
            {
              "fieldId": "competitor_2_gap",
              "fieldValue": "={{ $json.competitor_2_gap }}"
            },
            {
              "fieldId": "competitor_3_name",
              "fieldValue": "={{ $json.competitor_3_name }}"
            },
            {
              "fieldId": "competitor_3_score",
              "fieldValue": "={{ $json.competitor_3_score }}"
            },
            {
              "fieldId": "competitor_3_gap",
              "fieldValue": "={{ $json.competitor_3_gap }}"
            }
          ]
        }
      },
      "id": "670bbb88-9fcc-4793-bc41-5e3cadd8bb22",
      "name": "Update Competitor Data",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xjyTBcrvj3X5rWEu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        240
      ],
      "id": "d6f94a3a-883e-471e-9186-7cb6303d2116",
      "name": "Manual Trigger for Testing"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  { \"slot\": 1, \"name\": \"Competitor Name\", \"score\": 85, \"gap\": \"Specific insight about the gap...\" },\n  { \"slot\": 2, \"name\": \"Competitor Name\", \"score\": 65, \"gap\": \"Specific insight about the gap...\" },\n  { \"slot\": 3, \"name\": \"Competitor Name\", \"score\": 40, \"gap\": \"Specific insight about the gap...\" }\n]",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        416,
        224
      ],
      "id": "bd6982c6-f66e-443e-87f6-5177f71c41c0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        192,
        224
      ],
      "id": "056cd047-73de-4707-aee3-07107676454f",
      "name": "Analysis LLM",
      "credentials": {
        "openRouterApi": {
          "id": "7vKwFltYz7wxFVCU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        416,
        384
      ],
      "id": "4533fb12-9f90-429c-b5c7-c4186e1fda73",
      "name": "Parser LLM",
      "credentials": {
        "openRouterApi": {
          "id": "7vKwFltYz7wxFVCU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Target Brand: {{ $('Config').first().json.brandName }}\nTarget Brand Visibility Score: {{ $('Config').first().json.visibilityScore }}% (Baseline)\n\nContext (LLM responses to queries):\n{{ $json.aggregated_text }}\n\nExisting Competitors:\n1. {{ $json.competitor_1_fixed || \"AUTO\" }}\n2. {{ $json.competitor_2_fixed || \"AUTO\" }}\n3. {{ $json.competitor_3_fixed || \"AUTO\" }}\n\nInstructions:\n1. **Identify Competitors**:\n   - Scan the Context for brands that appear as direct alternatives to {{ $('Config').first().json.brandName }}.\n   - For \"AUTO\" slots, select the top brands with the highest presence (mentions, recommendations, top rankings).\n   - Ignore the Target Brand itself.\n\n2. **Calculate Relative Visibility Scores**:\n   - The Target Brand has a score of {{ $('Config').first().json.visibilityScore }}.\n   - Estimate each competitor's score RELATIVE to this baseline.\n   - Logic: If Competitor X appears roughly as often as Target Brand, give them a similar score. If they dominate the results, give them a higher score (max 100). If they are barely mentioned, give them a lower score (e.g., < 10).\n   - **CRITICAL**: Scores must be realistic estimates based *only* on the provided text.\n\n3. **Gap Analysis**:\n   - Write ONE punchy, witty, and slightly cheeky sentence per competitor.\n   - Focus strictly on what they are DOING that you are NOT (or vice versa).\n   - Make it personal and comparative. Examples: \"AI thinks he is more entertaining than you\", \"Cited by Forbes, you aren't yet\".\n   - **Tone Check**: Keep it professional but playful. Do not be mean, morbid, or insulting. We want the user to chuckle, not feel bad.\n   - AVOID generic descriptions.\n\nOutput strictly valid JSON, nothing else around that JSON:\n[\n  { \"slot\": 1, \"name\": \"Competitor Name\", \"score\": 85, \"gap\": \"Specific insight about the gap...\" },\n  { \"slot\": 2, \"name\": \"Competitor Name\", \"score\": 65, \"gap\": \"Specific insight about the gap...\" },\n  { \"slot\": 3, \"name\": \"Competitor Name\", \"score\": 40, \"gap\": \"Specific insight about the gap...\" }\n]",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a specialized AI Visibility Analyst. Your job is to extract competitive intelligence from search engine results. You must identify the strongest competitors based on their 'Share of Voice' in the provided text and calculate precise visibility scores relative to a baseline.\nUse your web search tool if you have to find the latest information on any brand, person or anything else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        192,
        16
      ],
      "id": "d6bbc0ac-fd9f-4c93-83db-79133031ceb1",
      "name": "Visibility Analyst Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        304,
        224
      ],
      "id": "501317f6-9cda-445a-9783-2ceb67e4cc74",
      "name": "Web Search",
      "credentials": {
        "serpApi": {
          "id": "8n607KMw9rSYtVsp",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Fetch Brand Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Brand Config": {
      "main": [
        [
          {
            "node": "Fetch All Analyses for Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Analyses for Run": {
      "main": [
        [
          {
            "node": "Consolidate Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Context": {
      "main": [
        [
          {
            "node": "Visibility Analyst Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Competitor Fields": {
      "main": [
        [
          {
            "node": "Update Competitor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger for Testing": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Visibility Analyst Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Analysis LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Visibility Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Visibility Analyst Agent": {
      "main": [
        [
          {
            "node": "Format Competitor Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "ai_tool": [
        [
          {
            "node": "Visibility Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d788035e-bd97-4a24-b599-7a40bb5d9fbb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "02bba7aac379f6e7cacf7ad50786592b16e7ca5dbfbf71b3b9646d979cc00f6e"
  },
  "id": "ZjdYn2YtHbYvfWs6",
  "tags": []
}